.menuBlock {
  display: grid;
  grid-template-rows: 50px 60px 1fr;
  padding: 5px 15px 5px 15px;
  height: calc(100vh - 60px);
}
/* ! header */
.header {
  display: grid;
  box-sizing: border-box;
}

.titleMenu {
  align-self: center;
  justify-self: start;
  color: var(--fontColor);
  font-size: 25px;
  font-weight: bold;
}
/* !Profile Block */
.profileBlock {
  text-decoration: none;
  cursor: pointer;
  box-sizing: border-box;
  display: grid;
  grid-column-gap: 5px;
  padding: 8px;
  grid-template-columns: 40px 1fr;
}
.profileBlock:hover {
  background-color: rgba(78, 78, 78, 0.164);
  /* color: ; */
}
.ava {
  display: grid;
  height: 100%;
  width: 100%;
}
.avaImg {
  justify-self: center;
  align-self: center;
  height: 40px;
  width: 40px;
  border-radius: 50%;
}
.profileInfo {
  display: grid;
  grid-template-rows: 1fr 1fr;
}
.nameProfile {
  align-self: center;
  color: var(--fontColor);
  font-weight: bold;
  font-size: 16px;
}
.info {
  color: var(--fontColor);
  font-size: 14px;
  align-self: start;
}
/* ! Grid menu */
.gridMenu {
  margin-top: 10px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 5px;
}
.settingsBlock {
  cursor: pointer;
  padding: 10px;
  display: grid;
  grid-template-columns: 30px 1fr;
  text-decoration: none;
  grid-column-gap: 5px;
  box-sizing: border-box;
  height: 60px;
  background-color: var(--menuItemBac);
  border-radius: 10px;
}
.settingsBlock:hover {
  background-color: var(--menuItemBacHover);
}
.settingsBlock img {
  align-self: center;
  height: 30px;
  /* color: rgb(199, 199, 199); */
}
.settingsBlock span {
  font-size: 20px;
  font-weight: bold;
  align-self: center;
  color: var(--fontColor);
}
.logOutBlock {
  cursor: pointer;
  box-sizing: border-box;
  display: grid;
  grid-template-columns: 30px 1fr;
  grid-column-gap: 5px;
  padding: 10px;
  height: 40px;
  background-color: var(--menuItemBac);
  border-radius: 6px;
}
.logOutBlock img {
  justify-self: center;
  height: 20px;
}
.logOutBlock span {
  font-size: 18px;
  font-weight: bold;
  align-self: center;
  color: var(--fontColor);
}

.logOutBlock:hover {
  background-color: var(--menuItemBacHover);
}
