.menuBlock {
  display: grid;
  grid-template-rows: 50px 60px 1fr;
  padding: 5px 15px 5px 15px;
  height: calc(100vh - 60px);
}
/* ! header */
.header {
  display: grid;
  box-sizing: border-box;
}

.titleMenu {
  align-self: center;
  justify-self: start;
  color: var(--fontColor);
  font-size: 25px;
  font-weight: bold;
}
/* !Profile Block */
.profileBlock {
  text-decoration: none;
  cursor: pointer;
  box-sizing: border-box;
  display: grid;
  grid-column-gap: 5px;
  padding: 8px;
  grid-template-columns: 40px 1fr;
}
.profileBlock:hover {
  background-color: rgba(78, 78, 78, 0.164);
  /* color: ; */
}
.ava {
  position: relative;
  overflow: hidden;
  width: 40px;
  height: 40px;
  border-radius: 50%;
}
.avaImg {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 50px;
  height: 50px;
  object-fit: cover;
}
.profileInfo {
  display: grid;
  grid-template-rows: 1fr 1fr;
}
.nameProfile {
  align-self: center;
  color: var(--fontColor);
  font-weight: bold;
  font-size: 16px;
}
.info {
  color: var(--fontColor);
  font-size: 14px;
  align-self: start;
}
/* ! Grid menu */
.gridMenu {
  margin-top: 10px;
  display: grid;
  grid-template-rows: 70px auto;
  grid-gap: 8px;
}
.columns {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 8px;
}
/* Left Column */
.leftColumn {
  /* display: grid; */
}
.rightColumn {
  /* display: grid; */
}
.settingsBlock {
  cursor: pointer;
  padding: 10px;
  display: grid;
  grid-template-columns: 30px 1fr;
  text-decoration: none;
  grid-column-gap: 5px;
  box-sizing: border-box;
  height: 60px;
  margin-bottom: 8px;
  background-color: var(--menuItemBac);
  border-radius: 10px;
}
.settingsBlock:hover {
  background-color: var(--menuItemBacHover);
}
.settingsBlock img {
  align-self: center;
  height: 30px;

  /* color: rgb(199, 199, 199); */
}
.settingsBlock span {
  font-size: 18px;
  font-weight: bold;
  align-self: center;
  color: var(--fontColor);
}
.logOutBlock {
  cursor: pointer;
  box-sizing: border-box;
  display: grid;
  grid-template-columns: 30px 1fr;
  grid-column-gap: 5px;
  padding: 10px;
  height: 40px;
  margin-bottom: 8px;
  background-color: var(--menuItemBac);
  border-radius: 6px;
}
.logOutBlock img {
  justify-self: center;
  height: 20px;
}
.logOutBlock span {
  font-size: 18px;
  font-weight: bold;
  align-self: center;
  color: var(--fontColor);
}

.logOutBlock:hover {
  background-color: var(--menuItemBacHover);
}
/* giveFeedbackBlock */
.giveFeedbackItemsBlock {
  display: grid;
  height: 70px;
  background-color: var(--menuItemBac);
  border-radius: 10px;
  margin-bottom: 10px;
}
.itemGiveFeedback {
  display: grid;
  text-decoration: none;
}
.giveFeedbackBlock {
  cursor: pointer;
  display: grid;
  grid-template-columns: 60px 1fr;
  border-radius: 8px;
}
.giveFeedbackItemsBlock:hover {
  background-color: var(--menuItemBacHover);
}
.giveFeedback {
  justify-self: center;
  align-self: center;
  height: 36px;
  display: grid;
  width: 36px;
  background-color: var(--bacNavBarImg);
  border-radius: 50%;
}
.giveFeedbackImg {
  align-self: center;
  justify-self: center;
  height: 20px;
  width: 20px;
}
.giveFeedbackInfoBlock {
  display: grid;
  align-self: center;
}
.giveFeedbackTitle {
  color: var(--fontColor);
  font-size: 18px;
  margin-left: 5px;
  font-weight: bold;
  align-self: end;
}
.giveFeedbackText {
  color: var(--fontColor);
  margin-left: 5px;
}
/* Theme */
.themeBlock {
  height: 50px;
  display: grid;
  background-color: var(--menuItemBac);
  border-radius: 10px;
  margin-bottom: 10px;
}
.themeItems {
  cursor: pointer;
  display: grid;
  grid-template-columns: 80px 1fr;
  border-radius: 8px;
  transition: all 0.2s;
}
.themeBlock:hover {
  background-color: var(--menuItemBacHover);
}
.themes {
  display: grid;
  padding: 10px;
  grid-template-columns: auto 1fr;
}

.checkbox {
  display: none;
  margin-top: 50px;
  opacity: 0;
  position: absolute;
  box-sizing: border-box;
}

.img {
  height: 16px;
}

.label {
  align-self: center;
  justify-self: center;
  box-sizing: border-box;
  background-color: var(--bacNavBarImg);
  border-radius: 50px;
  cursor: pointer;
  display: flex;
  justify-content: space-between;
  padding: 5px;
  position: relative;
  height: 26px;
  width: 50px;
  transform: scale(1.2);
}
.themeTitle {
  color: var(--fontColor);
  font-size: 18px;
  align-self: center;
  justify-self: start;
  font-weight: bold;
}

.label .ball {
  background-color: var(--swithThemeBall);
  border-radius: 50%;
  position: absolute;
  top: 2px;
  left: 2px;
  height: 22px;
  width: 22px;
  transform: translateX(0px);
  transition: transform 0.3s linear;
}

.ball.active {
  transform: translateX(24px);
}
.btnLogOut {
  cursor: pointer;
  background-color: var(--followBtn);
  border: 1px solid var(--followBtn);
  color: var(--fontColor);
  padding: 5px 8px;
  font-weight: bold;
  border-radius: 5px;
  margin-bottom: 20px;
}
.inputSubmit {
  display: none;
}
