@media (max-width: 1355px) {
  .posts {
    margin-left: calc(250px + (380 - 250) * ((100vw - 1250px) / (1355 - 1250)));
    justify-self: center;
  }
}

@media (max-width: 1250px) {
  .posts {
    margin-left: 0;
  }
}

.hello {
  color: white;
}
.userIsNotFound {
  height: 100%;
  position: relative;
}
.userIsNotFound span {
  position: absolute;
  color: var(--fontColor);
  /* top: 50%; */
  height: 40px;
  width: 250px;
  left: 50%;
  margin-left: -125px;
  margin-top: 20px;
  font-size: 30px;
  font-weight: bold;
  text-align: center;
}
