.profileBlock {
    display: grid;
    grid-template-rows: auto auto;
    grid-row-gap: 50px;
    grid-template-areas: "info" "posts";
    margin-right: 290px;
}

.profileInfo {
    grid-area: info;
}

.posts {
    grid-area: posts;
    justify-self: end;
    /* display: grid;
    grid-template-columns: 1fr 1fr; */
}