.FriendsBlock img {
    justify-self: center;
    /*grid-area: b;*/
    height: 50px;
    width: 50px;
}

.nameFriends {
    justify-self: center;
    font-size: 12px;
}

.FriendsBlock {
    display: grid;
    /*grid-area:;*/
    float: left;
}