span {
  cursor: pointer;
}
.usersBlock {
  display: grid;
  grid-template-rows: 60px 1fr;
}

.header {
  display: grid;
  grid-template-columns: 60px 1fr 1fr;
  border-bottom: 1px solid var(--BorderBottom);
}
.search {
  align-self: center;
  justify-self: end;
}
.searchUsers {
  align-self: center;
  width: 100%;
  height: 30px;
  box-sizing: border-box;
  border: 2px solid rgb(192, 192, 192);
  border-radius: 10px;
  font-size: 14px;
  background-color: var(--bacInput);
  background-image: url("https://www.freepngimg.com/download/world_wide_web/62434-engine-web-search-wordpress.com-icons-wallpaper-desktop.png");
  background-size: 17px;
  background-position: 10px 5px;
  background-repeat: no-repeat;
  padding: 5px 10px 5px 35px;
  /* -webkit-transition: width 0.4s ease-in-out;
    transition: width 0.4s ease-in-out; */
}
.usersImg {
  height: 50px;
  width: 50px;
  justify-self: center;
  align-self: center;
}
.title {
  font-size: 25px;
  font-weight: bold;
  justify-self: start;
  align-self: center;
  color: var(--fontColor);
  margin-left: 10px;
}
.users {
  display: grid;
  grid-template-columns: repeat(3, 150px);
  margin-top: 30px;
  justify-self: center;
}
@media (max-width: 630px) {
  .header {
    display: grid;
    margin-left: 65px;
    grid-template-columns: 60px 100px auto;
  }
}
.user {
  padding-bottom: 20px;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 90px auto;
  grid-template-areas: "photo" "name";
  /* border: 1px solid black; */
}

.leftPart {
  grid-area: photoFollowed;
  display: grid;
}

.rightPart {
  justify-self: center;
  align-self: center;
  padding: 10px;
  grid-area: name;
  display: grid;
}

.but {
  border-color: #494949;
  border-style: solid;
  border-width: 1px;
  background-color: #494949;
  text-align: center;
  font-size: 13px;
  width: 74px;
  height: 30px;
  cursor: pointer;
}

button:disabled {
  background-color: #3a3a3a;
  border: 1px solid grey;
  cursor: default;
}

.photoUsers {
  grid-area: photo;
  justify-self: center;
  align-self: center;
}

.selectedPage {
  font-weight: bold;
}

.followed {
  grid-area: followed;
  justify-self: center;
}

.status {
  font-size: 13px;
  margin-left: 10px;
  grid-area: status;
  color: rgb(177, 177, 177);
  align-self: flex-start;
  justify-self: start;
}
.status span {
  display: none;
}

.name {
  justify-self: center;
  align-self: center;
  overflow: hidden;
  width: 100%;
  text-overflow: ellipsis;
  font-size: 20px;
  grid-area: name;
  color: var(--fontColor);
}

.country {
  font-size: 20px;
  grid-area: country;
  align-self: end;
  justify-self: end;
}

.city {
  display: none;
  grid-area: city;
  align-self: end;
  justify-self: end;
  color: var(--fontColor);
}

.photo {
  height: 90px;
  width: 90px;
  border-radius: 50px;
  align-self: center;
}

.numberPage {
  /* padding-top: 100px; */
  margin-left: 0px;
}

.but_pagination {
  background-color: #2c8869;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
}

.pagination {
  text-align: center;
}
.errorNoUsers {
  color: var(--fontColor);
  font-size: 24px;
  font-weight: bold;
}
@media (max-width: 480px) {
  .header {
    margin-left: 0;
    grid-template-columns: 60px 80px auto;
  }
  .search {
    margin-right: 10px;
  }
  .users {
    grid-template-columns: 1fr;
    margin-bottom: 60px;
  }
  .user {
    display: grid;
    grid-template-areas: "photoFollowed content";
    grid-template-rows: 75px;
    grid-template-columns: 80px 245px;
  }
  .photo {
    height: 70px;
    width: 70px;
    border-radius: 50%;
  }
  .photoUsers {
    grid-area: photoFollowed;
  }
  .rightPart {
    padding: 10px;
    border: 2px solid #138d90;
    border-radius: 30px;
    grid-area: content;
    justify-self: normal;
    align-self: normal;
    display: grid;
    grid-template-areas: "name country" "status city";
    grid-template-columns: 66% 30%;
    grid-template-rows: 45% 60%;
  }
  .status {
    display: block;
    font-size: 13px;
    color: var(--statusColor);
  }
  .name {
    justify-self: normal;
    align-self: normal;
    overflow: hidden;
    width: 100%;
    text-overflow: ellipsis;
  }
}
/* @media (max-width: 522px) {
  .users {
    margin-top: 20px;
    align-self: center;
  }
  .user {
    grid-template-columns: 60px 280px;
    grid-template-rows: 60px;
    margin-bottom: 10px;
  }
  .photo {
    height: 60px;
    width: 60px;
  }
  .rightPart {
    border-radius: 15px;
  }
  .name {
    font-size: 15px;
  }
  .status {
    font-size: 12px;
  }
  .city {
    font-size: 13px;
  }
  .rightPart {
    padding: 7px;
  }
} */

/* @media (max-width: 1300px) {
    .user {
        margin-right: 0;
    }
} */
