@import url("https://fonts.googleapis.com/css2?family=Patua+One&display=swap");

.passwordOverlay {
  position: fixed;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.384);
  width: 100vw;
  display: grid;
  height: 100vh;
}
.passwordBlock {
  align-self: center;
  justify-self: center;
  display: grid;
  grid-template-rows: 50px 1fr;
  width: 450px;
  background-color: var(--navBarBac);
  border-radius: 10px;
  height: 400px;
}
.passwordTitleBlock {
  display: grid;
  grid-template-columns: 1fr 50px;
  padding: 0 16px;
  border-bottom: 1px solid var(--BorderBottom);
}
.passwordTitle {
  font-size: 22px;
  color: var(--fontColor);
  font-family: "Patua One", cursive;
  align-self: center;
  justify-self: center;
  margin-left: 50px;
}
.popupContentHeaderOff {
  cursor: pointer;
  height: 30px;
  width: 30px;
  position: relative;
  border-radius: 50%;
  align-self: center;
  justify-self: center;
  background-color: red;
  transition: 0.5s all;
}
.popupContentHeaderOff:hover {
  background-color: rgba(255, 0, 0, 0.664);
}
.popupContentHeaderOff:before,
.popupContentHeaderOff:after {
  position: absolute;
  left: 14px;
  content: " ";
  top: 5px;
  height: 20px;
  width: 2px;
  background-color: rgb(255, 255, 255);
}
.popupContentHeaderOff:before {
  transform: rotate(45deg);
}
.popupContentHeaderOff:after {
  transform: rotate(-45deg);
}
.passwordBodyBlock {
  padding: 30px 16px 16px 16px;
  display: grid;
  grid-template-rows: 70px 70px 70px 1fr 50px;
}

.passwordFieldBlock {
  align-self: center;
  display: grid;
  padding: 0 30px 0 0;
  grid-template-columns: 170px 1fr;
}
.passwordFieldBlock span {
  color: var(--fontColor);
  font-size: 18px;
  font-weight: bold;
}

.passwordFieldBlock input {
  height: 30px;
  border-radius: 5px;
  border: 1px solid rgba(0, 0, 0, 0);
  outline: none;
  padding: 2px 5px 2px 5px;
  font-size: 16px;
  justify-self: start;
  width: 100%;
}
.formSummaryError {
  box-sizing: border-box;
  justify-self: center;
  font-size: 18px;
  font-weight: bold;
  color: rgb(211, 33, 20);
}
.passwordSubmitBlock {
  display: grid;
}
.btnSubmit {
  height: 70%;
  width: 150px;
  align-self: center;
  justify-self: end;
  border: 1px solid #00000000;
  background-color: #1178f2;
  border-radius: 5px;
  cursor: pointer;
  color: white;
  font-size: 16px;
  font-weight: bold;
  transition: all 0.5s;
}
.btnSubmit:hover {
  background-color: #1255a7;
}
