.avatar {
  align-self: center;
  justify-self: center;
  position: relative;
  overflow: hidden;
  height: 180px;
  width: 180px;
}
.avatar img {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 180px;
  height: 180px;
  border-radius: 50%;
  object-fit: cover;
}
@media (max-width: 600px) {
  .avatar img {
    width: calc(150px + (180 - 150) * ((100vw - 320px) / (600 - 320)));
    height: calc(150px + (180 - 150) * ((100vw - 320px) / (600 - 320)));
  }
}
