.bottom {
    /* margin-left: 50px;
    margin-right: 50px; */
    height: 30px;
    grid-area: input;
    display: grid;
    grid-template-columns: 80% 20%;
    grid-template-areas: "i b";
}

.input {
    background-color: rgb(182, 182, 182);
    border: 1px solid rgb(0, 0, 0);
    border-radius: 10px;
}

.but {
    cursor: pointer;
    margin-left: 5px;
    grid-area: b;
    height: 30px;
    background-color: grey;
    border-radius: 10px;
    border: 1px solid black;
}