.formControl.error input,
.formControl.error textarea {
    border: 2px solid red;
}


/* .formControl.error div {
    color: red;
}

.inputFalie {
    background-color: red;
} */


/* .formControl {
    grid-template-rows: 1fr 1fr;
} */

.formSummaryError {
    color: rgb(211, 33, 20);
}