/*! Profile description  */
.descriptionProfile {
  justify-self: center;
  width: 876px;
  display: grid;
  grid-template-columns: 1fr 1fr;
}
.publicationsBlock {
  cursor: pointer;
  position: relative;
  justify-self: start;
  width: 120px;
  display: grid;
  transition: all 0.2s;
  border-radius: 5px;
}
.publicationsBlock::after {
  content: "";
  height: 2px;
  position: absolute;
  bottom: 0;
  width: 100%;
  background-color: #1877f2;
}
.publications {
  align-self: center;
  justify-self: center;
  color: #1877f2;
  font-weight: bold;
  font-size: 18px;
}
.subscribeUnsubscribeBlock {
  display: grid;
}
.subscribeUnsubscribeBlockAndBan {
  grid-template-columns: 1fr 150px;
}

@media (max-width: 900px) {
  .descriptionProfile {
    width: 100%;
    padding: 0 16px;
  }
}
