.message {
    padding: 5px;
    border: 1px solid #000;
    border-radius: 30px;
}

.imeges {
    height: 27px;
    width: 27px;
    border-radius: 30px;
    margin-right: 10px;
    vertical-align: middle;
}