.popupEditProfile {
  position: fixed;
  height: 100vh;
  width: 100vw;
  top: 0;
  left: 0;
  overflow-y: scroll;
  background-color: rgba(0, 0, 0, 0.425);
  display: grid;
  z-index: 999;
}
.editProfileBlock {
  z-index: 999;
  width: 600px;
  display: grid;
  margin-top: 40px;
  margin-bottom: 40px;
  justify-self: center;
  border-radius: 10px;
  grid-template-rows: 50px 100px 260px 260px 1fr 130px;
  background-color: var(--navBarBac);
  padding-bottom: 10px;
}

.editProfileTitleBlock {
  height: 50px;
  display: grid;
  grid-template-columns: 1fr 50px;
  position: relative;
}
.editProfileTitle {
  color: var(--fontColor);
  font-size: 20px;
  align-self: center;
  justify-self: center;
  margin-left: 50px;
  font-family: "Patua One", cursive;
}
.editProfileTitle::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  background-color: var(--BorderBottom);
  height: 1px;
  width: 100%;
}
.closePopupEditProfile {
  cursor: pointer;
  height: 30px;
  width: 30px;
  position: relative;
  border-radius: 50%;
  align-self: center;
  justify-self: center;
  background-color: red;
  transition: 0.5s all;
}
.closePopupEditProfile:hover {
  background-color: rgba(255, 0, 0, 0.664);
}
.closePopupEditProfile:before,
.closePopupEditProfile:after {
  position: absolute;
  left: 14px;
  content: " ";
  top: 5px;
  height: 20px;
  width: 2px;
  background-color: rgb(255, 255, 255);
}
.closePopupEditProfile:before {
  transform: rotate(45deg);
}
.closePopupEditProfile:after {
  transform: rotate(-45deg);
}

@media (max-width: 600px) {
  .editProfileBlock {
    width: 100vw;
    height: 100vh;
    overflow: scroll;
    margin-bottom: 0;
    margin-top: 0;
    border-radius: 0;
    grid-template-rows:
      50px 100px calc(230px + (260 - 230) * ((100vw - 320px) / (600 -320)))
      calc(230px + (260 - 230) * ((100vw - 320px) / (600 -320)))
      1fr 130px;
  }
}
