.editProfileMenu {
  z-index: 999999999999999999999999999999999999999;
  width: 600px;
  display: grid;
  margin-top: 40px;
  justify-self: center;
  border-radius: 10px;
  grid-template-rows: 50px 260px 260px 1fr 130px;
  background-color: var(--navBarBac);
  padding-bottom: 10px;
}

.editProfileTitleBlock {
  height: 50px;
  display: grid;
  grid-template-columns: 1fr 50px;
  position: relative;
}
.editProfileTitle {
  color: var(--fontColor);
  font-size: 20px;
  align-self: center;
  justify-self: center;
  margin-left: 50px;
  font-family: "Patua One", cursive;
}
.backBlock {
  cursor: pointer;
  height: 34px;
  width: 34px;
  position: relative;
  align-self: center;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.158);
}
.backBlock:hover {
  background-color: rgba(255, 255, 255, 0.267);
}
.backBlock::before {
  content: "";
  height: 2px;
  width: 20px;
  left: 7px;
  bottom: 15px;
  /* border-radius: 50%; */
  position: absolute;
  background-color: white;
  transform: rotate(45deg);
}
.backBlock::after {
  content: "";
  height: 2px;
  width: 20px;
  /* border-radius: 50%; */
  left: 7px;
  bottom: 15px;
  position: absolute;
  background-color: white;
  transform: rotate(-45deg);
}
.editProfileTitle::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  background-color: var(--BorderBottom);
  height: 1px;
  width: 100%;
}
.editPhotoProfileBlock {
  display: grid;
  grid-template-rows: 50px 210px;
}
.editPhotoProfile {
  display: grid;
  grid-template-columns: 1fr 1fr;
}
.editPhotoTitle {
  align-self: center;
  justify-self: start;
  margin-left: 10px;
  color: var(--fontColor);
  font-family: "Patua One", cursive;
  font-size: 18px;
}
.editPhoto {
  width: 70px;
  height: 70%;
  justify-self: end;
  align-self: center;
  border-radius: 5px;
  cursor: pointer;
  display: grid;
  margin-right: 10px;
}
.editPhoto:hover {
  background-color: rgba(255, 255, 255, 0.11);
}
.edit {
  align-self: center;
  justify-self: center;
  color: #1877f2;
  font-family: "Patua One", cursive;
  font-size: 16px;
}
.photoProfile {
  display: grid;
}
.avatar {
  align-self: center;
  justify-self: center;
  position: relative;
  overflow: hidden;
  height: 180px;
  width: 180px;
}
.avatar img {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 180px;
  height: 180px;
  border-radius: 50%;
  object-fit: cover;
}
.CoverPhotoProfile {
  display: grid;
}
.banner {
  align-self: center;
  justify-self: center;
  width: 500px;
  height: 180px;
  position: relative;
  overflow: hidden;
}
.banner img {
  position: absolute;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 500px;
  height: 180px;
  object-fit: cover;
}
.editAboutMeBlock {
  display: grid;
  grid-template-rows: 50px 1fr;
}
.editAboutMeBlockActive {
  grid-template-rows: 50px 150px 40px;
}
.editAboutMeProfile {
  display: grid;
  grid-template-columns: 1fr 1fr;
}
.editAboutMeTitle {
  align-self: center;
  justify-self: start;
  margin-left: 10px;
  color: var(--fontColor);
  font-family: "Patua One", cursive;
  font-size: 18px;
}
.addToAboutMe {
  width: 70px;
  height: 70%;
  justify-self: end;
  align-self: center;
  border-radius: 5px;
  cursor: pointer;
  display: grid;
  margin-right: 10px;
}
.addToAboutMeDisable {
  pointer-events: none;
}
.addToAboutMe:hover {
  background-color: rgba(255, 255, 255, 0.11);
}
.edit {
  align-self: center;
  justify-self: center;
  color: #1877f2;
  font-family: "Patua One", cursive;
  font-size: 16px;
}
.aboutMeText {
  padding: 0 15px;
  color: rgb(197, 197, 197);
  align-self: center;
  justify-self: center;
  font-size: 18px;
  word-break: break-word;
}
.aboutMeTextarea {
  height: 100%;
  width: 300px;
  justify-self: center;
  color: var(--fontColor);
  background-color: rgba(0, 0, 0, 0.151);
  outline: none;
  padding: 10px;
  resize: none;
  text-align: center;
  border: none;
  font-size: 18px;
  border-radius: 10px;
}
.charactersRemaining {
  display: grid;
  grid-template-columns: 220px 80px;
  width: 300px;
  margin-left: 10px;
  color: #cacaca;
  font-size: 15px !important;
  justify-self: center;
  font-size: 18px;
}
.moreCharacters {
  color: red;
}
.cancelAboutMeButton {
  margin-right: 10px;
  cursor: pointer;
  background-color: red;
  display: grid;
  border-radius: 5px;
  height: 80%;
  align-self: center;
}
.cancelAboutMe {
  color: rgb(255, 255, 255);
  font-family: "Patua One", cursive;
  align-self: center;
  justify-self: center;
}
.editTellUsMoreAboutYourselfBlock {
  display: grid;
  grid-template-rows: 50px 80px;
}
.editTellUsMoreAboutYourselfAndEdit {
  display: grid;
  grid-template-columns: 3fr 1fr;
}
.TellUsMoreAboutYourself {
  align-self: center;
  justify-self: start;
  margin-left: 10px;
  color: var(--fontColor);
  font-family: "Patua One", cursive;
  font-size: 18px;
}
.editInfo {
  width: 70px;
  height: 70%;
  justify-self: end;
  align-self: center;
  border-radius: 5px;
  cursor: pointer;
  display: grid;
  margin-right: 10px;
}
.editInfo:hover {
  background-color: rgba(255, 255, 255, 0.11);
}
.edit {
  align-self: center;
  justify-self: center;
  color: #1877f2;
  font-family: "Patua One", cursive;
  font-size: 16px;
}
.moreAboutMyself {
  display: grid;
  grid-template-rows: 1fr 1fr;
}
.birthdayBlock {
  display: grid;
  grid-template-columns: 30px 1fr;
  padding: 0 15px;
}
.birthdayEditBlock {
  margin-left: 5px;
  display: grid;
}
.editBirthday {
  align-self: center;
  width: 150px;
  height: 25px;
  background-color: var(--navBarBac);
  border-radius: 5px;
  border: 1px solid rgba(255, 255, 255, 0.199);
  outline: none;
  color: #ffffff;
  padding: 5px;
}
.birthdayTitleAndText {
  display: grid;
  grid-template-columns: 60px 1fr;
}
.birthdayTitle {
  align-self: center;
  color: var(--fontColor);
  font-weight: bold;
}
.birthdayImg {
  width: 25px;
  align-self: center;
}
.birthday {
  align-self: center;
  color: #1877f2;
  font-weight: bold;
  cursor: pointer;
}
.locationBlock {
  display: grid;
  grid-template-columns: 30px 1fr;
  padding: 0 15px;
}
.locationTitleAndText {
  height: 100%;
  display: grid;
  grid-template-columns: 60px 1fr;
}
.locationTitle {
  align-self: center;
  font-weight: bold;
  color: var(--fontColor);
}
.location {
  color: #1877f2;
  cursor: pointer;
  font-weight: bold;
  align-self: center;
}
.locationEditBlock {
  margin-left: 5px;
  display: grid;
}
.editLocation {
  align-self: center;
  width: 150px;
  height: 25px;
  background-color: var(--navBarBac);
  border-radius: 5px;
  border: 1px solid rgba(255, 255, 255, 0.199);
  outline: none;
  color: white;
  padding: 5px;
}
.cityImg {
  align-self: center;
}
@media (max-width: 600px) {
  .editProfileMenu {
    width: 100vw;
    grid-template-rows:
      50px calc(230px + (260 - 230) * ((100vw - 320px) / (600 -320)))
      calc(230px + (260 - 230) * ((100vw - 320px) / (600 -320)))
      1fr 130px;
  }
  .editPhotoProfileBlock {
    grid-template-rows: 50px calc(
        180px + (210 - 180) * ((100vw - 320px) / (600 - 320))
      );
  }
  .banner img {
    width: calc(280px + (500 - 280) * ((100vw - 320px) / (600 - 320)));
    height: calc(140px + (180 - 140) * ((100vw - 320px) / (600 - 320)));
  }
  .banner {
    width: calc(280px + (500 - 280) * ((100vw - 320px) / (600 - 320)));
    height: calc(140px + (180 - 140) * ((100vw - 320px) / (600 - 320)));
  }
  .photoProfile img {
    width: calc(150px + (180 - 150) * ((100vw - 320px) / (600 - 320)));
    height: calc(150px + (180 - 150) * ((100vw - 320px) / (600 - 320)));
  }
}
