.deploy {
  display: grid;
}
.contactsBlcok {
  display: grid;
  grid-template-rows: 25px 1fr;
}
.contactTitle {
  color: var(--fontColor);
  font-size: 19px;
}
.contacts {
  margin-left: 10px;
}
.fieldInput {
  display: grid;
  grid-template-columns: 1fr 2fr;
  color: var(--fontColor);
  padding: 5px;
}
.fieldInputContacts {
  display: grid;
  grid-template-columns: 20px 1fr 2fr;
  color: var(--fontColor);
  padding: 5px;
}
.title {
  text-transform: capitalize;
  margin-left: 5px;
}

.saveBut {
  cursor: pointer;
  background-color: var(--bacInputForm);
  border: 1px solid var(--bacInputForm);
  color: var(--fontColor);
  height: 30px;
  font-size: 16px;
  width: 50px;
  border-radius: 3px;
  justify-self: center;
}
.saveBlock {
  justify-self: end;
  padding-top: 5px;
}
.logo {
  height: 20px;
}
