.deploy {
  display: grid;
}
.contactsBlcok {
  display: grid;
  grid-template-rows: 25px 1fr;
}
.contactTitle {
  color: var(--fontColor);
  font-size: 19px;
}
.contacts {
  margin-left: 10px;
}
.fieldInput {
  display: grid;
  grid-template-columns: 1fr 2fr;
  color: var(--fontColor);
  padding: 5px;
}
.inputCheck {
  display: none;
}
.inputCheck:checked + label::before {
  content: "";
  background-size: 100%;
  background-image: url(https://img.icons8.com/metro/452/checkmark.png);
}
.labelCheckbox::before {
  cursor: pointer;
  content: "";
  display: inline-block;
  width: 20px;
  height: 20px;
  vertical-align: middle;
  background-color: var(--bacInputForm);
  /* margin-left: -10px; */
  margin-right: 10px;
  border: 1px solid var(--bacInputForm);
}
.fieldInputContacts {
  display: grid;
  grid-template-columns: 20px 80px 2fr;
  color: var(--fontColor);
  padding: 5px;
}
.title {
  text-transform: capitalize;
  margin-left: 5px;
}

.saveBut {
  cursor: pointer;
  background-color: var(--bacInputForm);
  border: 1px solid var(--bacInputForm);
  color: var(--fontColor);
  height: 30px;
  font-size: 16px;
  width: 50px;
  border-radius: 5px;
  justify-self: center;
}
.saveBut:hover {
  background-color: var(--HoversaveBut);
}
.saveBlock {
  justify-self: end;
  padding-top: 5px;
}
.logo {
  height: 20px;
}
