/* .friendPage {
    display: grid;
    margin-left: 150px;
    margin-right: 150px;
    margin-bottom: 10px;
    border: 1px solid rgba(21, 47, 119, 0.342);
}
.friendContener img {
    height: 70px;
    width: 60px;
    vertical-align: top;
    border: 3px solid #000;
} */