.preloader {
  height: 100vh;
  display: grid;
}

.preloader img {
  height: 100px;
  justify-self: center;
  align-self: center;
}
@media (max-width: 480px) {
  .preloader img {
    bottom: 60px;
  }
}
