.dialog {
    display: grid;
    grid-template-columns: 45px auto;
    grid-template-areas: "ava name";
    /* border-top: 2px solid #138D90;
        border-left: 2px solid #138D90; */
    /* margin-bottom: 10px; */
    margin-right: 10px;
    padding-bottom: 10px;
    padding-left: 5px;
}

.dialogsItem {
    padding: 20px;
}

.name {
    grid-area: name;
    margin-left: 5px;
    align-self: center;
}

.name a {
    color: rgb(224, 215, 215);
    text-decoration: none;
}

.userAva {
    grid-area: ava;
}

.ava {
    height: 42px;
    width: 42px;
    border-radius: 30px;
    vertical-align: middle;
}