.header {
    position: fixed;
    height: 60px;
    width: 100%;
    z-index: 999999;
    grid-area: h;
    background-color: rgb(56, 56, 56);
    display: grid;
    grid-template-areas: "logo input audio login";
    grid-template-columns: 530px 280px 300px 1fr;
}

.audioPlaer {
    margin-left: 20px;
    padding-left: 20px;
    padding-right: 20px;
    cursor: pointer;
    grid-area: audio;
    align-self: center;
    display: grid;
    height: 40px;
    border-radius: 10px;
    grid-template-columns: 80px 200px;
    grid-column-gap: 10px;
    /* background-color: rgb(235, 235, 235); */
    height: 1;
}

.audioPlaer:hover {
    background-color: #7e7e7e;
}

.controls {
    align-self: center;
    display: grid;
    grid-template-columns: 15px 15px 15px;
    grid-column-gap: 10px;
}

.nameOfMusic {
    align-self: center;
    color: white;
}

.controls span img {
    height: 13px;
}


/* .playStop img {
    height: 30px;
} */

.searchBlock {
    grid-area: input;
    display: grid;
}

.usersSearch {
    padding-left: 15px;
    padding-top: 10px;
    padding-right: 15px;
    display: grid;
    margin-left: 550px;
    width: 150px;
    height: auto;
    background-color: rgb(238, 238, 238);
    border-radius: 20px;
}

.user {
    margin-bottom: 5px;
    font-size: 17px;
}

.user:hover {
    background-color: rgb(180, 178, 178);
    border-radius: 5px;
}

.searchUsers {
    align-self: center;
    width: 250px;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 10px;
    font-size: 14px;
    background-color: white;
    background-image: url('https://www.freepngimg.com/download/world_wide_web/62434-engine-web-search-wordpress.com-icons-wallpaper-desktop.png');
    background-size: 17px;
    background-position: 10px 5px;
    background-repeat: no-repeat;
    padding: 5px 10px 5px 35px;
    /* -webkit-transition: width 0.4s ease-in-out;
    transition: width 0.4s ease-in-out; */
}

.logoBlock {
    grid-area: logo;
    display: grid;
    grid-template-columns: 360px 1fr;
}

.logo {
    justify-self: end;
    width: 60px;
    height: 60px;
}

.loginBlock {
    margin-right: 10px;
    grid-area: login;
    display: grid;
}

.headerName {
    margin-left: 5px;
    align-self: center;
}

.headerName a {
    font-size: 20px;
    text-decoration: none;
    color: white;
    font-weight: 500;
}

.authBlock {
    align-self: center;
    justify-self: end;
    color: white;
    margin-right: 10px;
}

.avaLogin {
    display: grid;
    grid-template-areas: "ava login out";
    grid-template-columns: auto 130px 70px;
}

.ava {
    grid-area: ava;
    align-self: center;
    justify-self: end;
    width: 60px;
    height: 60px;
    border-radius: 30px;
}

.logout {
    background-color: black;
    border: 1px solid black;
    border-radius: 5px;
    cursor: pointer;
    font-weight: 600;
    color: white;
    align-self: center;
    height: 30px;
    font-size: 11px;
    padding-left: 0px;
    padding-right: 0px;
    margin: 5px;
}


/* .logout {
    position: relative;
    display: inline-block;
    font-size: 70%;
    font-weight: 700;
    color: rgb(209, 209, 217);
    text-decoration: none;
    text-shadow: 0 -1px 2px rgba(0, 0, 0, .2);
    padding: .5em 1em;
    outline: none;
    border-radius: 3px;
    background: linear-gradient(rgb(110, 112, 120), rgb(81, 81, 86)) rgb(110, 112, 120);
    box-shadow: 0 1px rgba(255, 255, 255, .2) inset, 0 3px 5px rgba(0, 1, 6, .5), 0 0 1px 1px rgba(0, 1, 6, .2);
    transition: .2s ease-in-out;
}

.logout:hover:not(:active) {
    background: linear-gradient(rgb(126, 126, 134), rgb(70, 71, 76)) rgb(126, 126, 134);
}

.logout:active {
    top: 1px;
    background: linear-gradient(rgb(76, 77, 82), rgb(56, 57, 62)) rgb(76, 77, 82);
    box-shadow: 0 0 1px rgba(0, 0, 0, .5) inset, 0 2px 3px rgba(0, 0, 0, .5) inset, 0 1px 1px rgba(255, 255, 255, .1);
} */

.userName {
    align-self: center;
    grid-area: login;
    margin-left: 10px;
}

.userName a {
    font-size: 16px;
    text-decoration: none;
    color: white;
    font-weight: 600;
}