.header {
  display: grid;
  grid-area: h;
  grid-template-columns: 300px 1fr 250px 50px;
  width: 100vw;
  top: 0;
  position: fixed;
  z-index: 999999999;
  background-color: var(--header);
  border-bottom: 1px solid var(--borderHeader);
  transition: all 0.6s;
}

.roll {
  top: -50px;
}
.titleSite {
  display: grid;
  grid-template-columns: 100px 1fr;
}
.logo {
  align-self: center;
  margin-left: 10px;
  padding: 5px;
  font-size: 25px;
  font-weight: bold;
  color: var(--logo);
  font-family: "Francois One", sans-serif;
}
/* ! Search */
.wrap {
  align-self: center;
  display: inline-block;
  position: relative;
  height: 50px;
  margin-right: 10px;
  padding: 0;
}
.disableWran {
  display: none;
}
.forma {
  width: 100%;
  height: 100%;
  display: grid;
}
.search {
  box-sizing: border-box;
  height: 34px;
  font-size: 20px;
  display: inline-block;
  border: none;
  outline: none;
  color: var(--fontColor);
  padding: 3px 31px 3px 3px;
  border-radius: 25px;
  width: 0px;
  position: absolute;
  top: 8px;
  bottom: 8px;
  right: 0;
  background: none;
  z-index: 3;
  transition: width 0.5s;
  cursor: pointer;
}
.searchActive {
  padding: 3px 40px 3px 3px;
}
.search:focus {
  width: 100%;
  z-index: 1;
  cursor: text;
}
.searchSubmitBlock {
  align-self: center;
  height: 34px;
  background-color: var(--bacMenu);
  border-radius: 50%;
  width: 34px;
  display: grid;
  justify-self: end;
}
.searchSubmitBlockSmall {
  align-self: center;
  height: 34px;
  background-color: var(--bacSearch);
  border-radius: 50%;
  width: 34px;
  display: grid;
  justify-self: end;
  /* background-color: #0000000d; */
}
.searchSubmit {
  justify-self: center;
  align-self: center;
  height: 18px;
  display: inline-block;
  border: none;
  z-index: 2;
  cursor: pointer;
  transition: opacity 0.4s ease;
}
input[type="submit"] {
  height: 43px;
  width: 40px;

  background: url(./../../assets/images/search.png) center center no-repeat;
  background-size: 30px;
  text-indent: -10000px;
}

input[type="submit"]:hover {
  opacity: 0.8;
}

.listOfCategories {
  width: 500px;
  justify-self: center;
}
.tab {
  min-width: auto !important;
  transition: all 0.2s;
}
.tab:hover {
  background-color: var(--headItem) !important;
  background-color: var(--headItem);
  box-sizing: border-box !important;
  border-radius: 5px;
}

.listOfCategories div div {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
}
.category {
  display: grid;
  grid-template-columns: 1fr !important;
}
.categoriesImg {
  height: 25px;
  width: 25px;
  align-self: center;
  justify-self: center;
}
/* ! Search Right*/
.wrapRight {
  align-self: center;
  display: inline-block;
  position: relative;
  height: 50px;
  margin-right: 10px;
  padding: 0;
}
@media (max-width: 1200px) {
  .header {
    grid-template-columns: 250px 1fr 200px 50px;
  }
}
@media (max-width: 1000px) {
  .listOfCategories {
    width: 400px;
  }
}
@media (max-width: 1000px) {
  /* .header {
    grid-template-columns: 100px 1fr 45px 50px;
  } */
  /* .inputActive {
    grid-template-columns: 100px 1fr 250px 50px;
  } */
  .listOfCategories {
    width: 400px;
    justify-self: center;
    /* margin-right: 5px; */
  }
  .listOfCategoriesSmall {
    margin-right: 0;
    margin-left: 0;
  }
}
/*! Menu block  */
.menuBlock {
  cursor: pointer;
  justify-self: start;
  align-self: center;
  display: grid;
  border-radius: 50%;
  height: 34px;
  background-color: var(--bacMenu);
  width: 34px;
}
.menuBlock:hover {
  background-color: var(--hoverBacMenu);
}
.menuImg {
  align-self: center;
  justify-self: center;
  height: 40%;
  width: 40%;
}

@media (max-width: 900px) {
  .header {
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 1fr;
    background-color: var(--headerSmall);
    width: 100vw;
  }

  .tab:hover {
    background-color: rgba(255, 255, 255, 0.11) !important;
  }
  .listOfCategories div div {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
  }
  .listOfCategories {
    width: 100%;
    margin-right: 0;
    justify-self: none;
  }
}

@media (max-width: 900px) {
  .inputActive {
    grid-template-columns: 100px 1fr 200px;
  }
}
