nav a {
    text-decoration: none;
    color: white;
    font-size: 21px;
}

.nav {
    height: max-content;
    grid-area: n;
    margin-left: 280px;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;
    /* background-color: #138D90; */
    margin-right: 70px;
    grid-template-areas: "n" "f";
}

.navbar {
    grid-area: n;
    /* margin-top: 30px;
    margin-left: 30px; */
    margin-top: 30px;
    margin-left: 30px;
    margin-right: 50px;
    height: 75%;
    display: grid;
    grid-template-rows: repeat(20px, 6);
}

.item {
    height: 75%;
    align-self: center;
    padding-top: 4px;
    padding-left: 30px;
    margin-bottom: 10px;
}

.item:hover {
    background-color: rgb(87, 87, 87);
    border-radius: 5px;
}

.itemLink {
    font-size: 17px;
    font-weight: 500;
}


/* 
.item a.active {
    color: gold;
} */

.friendsBlock {
    padding-top: 50px;
    grid-area: f;
    display: grid;
    grid-template-columns: 220px;
    width: 100%;
}

.friendsBlock img {
    height: 42px;
    width: 42px;
    border-radius: 30px;
    /*margin-top: 20px;*/
    /*margin-right: 10px;*/
}

.friendsBlock a {
    font-size: 20px;
}

.PositionBlock {
    background-color: rgb(70, 69, 69);
    border-radius: 20px;
    padding-top: 30px;
    display: grid;
    /* grid-template-rows: 1fr 1fr; */
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 10px;
}

.burger {
    display: none;
    width: 50px;
    height: 50px;
    border-radius: 25px;
    background-color: rgb(126, 126, 126);
    cursor: pointer;
}

.burger img {
    width: 40px;
    align-self: center;
    justify-self: center;
}

@media (max-width: 990px) {
    .nav {
        margin-left: 200px;
    }
}

@media (max-width: 879px) {
    .nav {
        margin-left: 150px;
    }
}

@media (max-width: 800px) {
    .navbar {
        display: none;
    }
    .nav {
        width: 50px;
        grid-template-rows: 1fr;
        justify-self: center;
        margin-left: 0px;
        margin-right: 0px;
    }
    .friendsBlock {
        display: none;
    }
    .burger {
        display: grid;
    }
}

@media (max-width: 628px) {
    .nav {
        display: none;
    }
}