/*! Header */

.header {
  position: fixed;
  height: 60px;
  width: 100%;
  z-index: 2;
  grid-area: h;
  display: none;
  background-color: var(--headerColor);
}

/* Burger */

.menuBlock {
  position: fixed;
  height: 60px;
  width: 60px;
  display: grid;
  z-index: 10;
  border-radius: 50%;
  /* cursor: pointer; */
  background-color: rgb(202, 69, 69);
  right: 20px;
  bottom: 30px;
  transition: all 0.7s ease 0s;
}
.menuBlockActive {
  height: 500px;
  width: 500px;
  right: -120px;
  bottom: -100px;
}
/* @media (max-width: 480px) {
  .menuBlockActive {
    height: calc(550px + (600 - 550) * ((100vw - 320px) / (480 - 320)));
    width: calc(550px + (600 - 550) * ((100vw - 320px) / (480 - 320)));
  }
} */
.menu {
  position: fixed;
  display: none;
  /* opacity: 0; */
  flex-direction: column;
  width: 100px;
  bottom: 80px;
  right: 110px;
  /* transition: all 0.5s; */
  opacity: 0; /*Элемент полностью прозрачный (невидимый)*/
  transition: 1s; /*Скорость перехода состояния элемента*/
  animation: show 0.2s 1; /* Указываем название анимации, её время и количество повторов*/
  animation-fill-mode: forwards; /* Чтобы элемент оставался в конечном состоянии анимации */
  animation-delay: 0.4s; /* Задержка перед началом */
}
.allScreen {
  position: fixed;
  top: 0;
  left: 0;
  display: none;
  width: 100vw;
  height: 100vh;
  z-index: 5;
}
.allScreenActive {
  display: block;
}
@keyframes show {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.menu.menuActive {
  display: flex;
  /* opacity: 1; */
}
.menu a {
  color: white;
  text-decoration: none;
  width: 100%;
  font-size: 25px;
  font-weight: bold;
  padding: 5px;
}
.menu a:hover {
  padding-left: 0;
}

.burger {
  position: fixed;
  bottom: 47px;
  right: 33px;
  height: 23px;
  width: 32px;
  cursor: pointer;

  transition: all 0.5s ease 0s;
}
.burgerLine {
  position: absolute;
  background-color: white;
  width: 100%;
  height: 3px;
  top: 10px;
  border-radius: 2px;
  transition: all 0.5s ease 0s;
}
.burger::before,
.burger::after {
  content: "";
  background-color: white;
  position: absolute;
  width: 100%;
  height: 3px;
  border-radius: 2px;
  transition: all 0.5s ease 0s;
}

.burger::before {
  top: 0;
}
.burger::after {
  bottom: 0px;
}

.burger.burgerActive div {
  transform: scale(0);
  background-color: white;
}
.menuBlock.burgerActive {
  width: 500px;
  height: 500px;
}
.burger.burgerActive:after {
  transform: rotate(-45deg);
  background-color: white;
  bottom: 10px;
}

.burger.burgerActive:before {
  transform: rotate(45deg);
  top: 10px;
  background-color: white;
}
.activeHederBlur {
  display: none;
}
/* ! NavHead */

.navHead {
  display: none;
  grid-area: navHead;
  grid-template-columns: 1fr 1fr 1fr 1fr;
}

.navHead div {
  align-self: center;
  justify-self: center;
}

.navHead div a {
  text-decoration: none;
  height: 100%;
  width: 100%;
}

.linkBlock {
  display: grid;
  grid-template-rows: 2fr 1fr;
}

.imgHead {
  height: 30px;
  width: 30px;
  align-self: center;
  justify-self: center;
}

.imgProfile {
  height: 30px;
  width: 30px;
  align-self: center;
  justify-self: center;
}

.imgNews {
  height: 27px;
  width: 27px;
  align-self: center;
  justify-self: center;
}

.imgPosts {
  height: 37px;
  width: 33px;
  align-self: start;
  justify-self: center;
}

.imgServices {
  height: 27px;
  width: 27px;
  align-self: center;
  justify-self: center;
}

.headName {
  font-size: 13px;
  align-self: start;
  justify-self: center;
  color: var(--colorDeteilInfo);
}

.linkBlock {
  position: relative;
  display: grid;
  text-decoration: none;
  transition-duration: 0.9s;
  height: 100%;
  width: 100%;
}
.linkBlock:after {
  justify-self: center;
  align-self: center;
  content: "";
  background: #5f5d81;
  display: block;
  position: absolute;
  width: 100%;
  height: 60px;
  /* top: 50; */
  border-radius: 30%;
  opacity: 0;
  transition: all 0.5s;
}
.linkBlock:active:after {
  height: 100%;
  width: 90%;
  margin: 0;
  /* top: 50; */
  opacity: 0.3;
  transition: 0s;
}

/*! SearchBlock */

@media (max-width: 480px) {
  .header {
    display: grid;
  }
  .active {
    display: none;
  }
  .loginBlock {
    display: none;
  }
}

@media (max-width: 480px) {
  .header {
    grid-template-areas: "navHead";
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    width: 100vw;
    bottom: 0;
  }
  .navHead {
    display: grid;
  }
}
