.selectedPage {
    font-weight: 1000;
}

.pagination {
    justify-self: center;
    margin-left: -350px;
    align-self: end;
}

.numberPage span {
    color: white;
    margin-left: 5px;
}

@media (max-width: 1500px) {
    .pagination {
        margin-left: 0;
    }
}