.friendsBlock {
  display: grid;
  grid-template-rows: 60px 1fr;
  display: grid;
  margin-bottom: 60px;
  grid-row-gap: 20px;
}
.friends {
  justify-self: center;
}
.header {
  display: grid;
  margin-left: 80px;
  margin: 0 10px;
  grid-template-columns: 60px 1fr 1fr;
  border-bottom: 1px solid var(--BorderBottom);
}

.friendsImg {
  align-self: center;
  justify-self: center;
  height: 50px;
}
.title {
  margin-left: 10px;
  align-self: center;
  font-size: 25px;
  font-weight: bold;
  color: var(--fontColor);
}
.search {
  align-self: center;
  justify-self: end;
}
.errorNoUsers {
  font-weight: bold;
  justify-self: center;
  color: var(--fontColor);
  font-size: 24px;
}
.searchUsers {
  align-self: center;
  width: 100%;
  height: 30px;
  box-sizing: border-box;
  border: 2px solid rgb(192, 192, 192);
  border-radius: 10px;
  font-size: 14px;
  background-color: var(--bacInput);
  background-image: url("https://www.freepngimg.com/download/world_wide_web/62434-engine-web-search-wordpress.com-icons-wallpaper-desktop.png");
  background-size: 17px;
  background-position: 10px 5px;
  background-repeat: no-repeat;
  padding: 5px 10px 5px 35px;
  /* -webkit-transition: width 0.4s ease-in-out;
    transition: width 0.4s ease-in-out; */
}
.friend {
  justify-self: start;
  display: grid;
  /* margin-right: 600px; */
  grid-template-rows: 100px;
  grid-template-columns: 100px 370px;
  grid-template-areas: "left right";
  margin-bottom: 20px;
}

.leftPart {
  grid-area: left;
}

.rightPart {
  grid-area: right;
  border: 2px solid #138d90;
  border-radius: 30px;
  padding: 15px;
  display: grid;
  grid-template-columns: 50% 50%;
  grid-template-areas: "name write";
}

.photo {
  height: 90px;
  border-radius: 50%;
}

.selectedPage {
  font-weight: bold;
}

.name {
  grid-area: name;
  font-size: 20px;
  color: var(--fontColor);
  font-weight: 500;
}

.pagination {
  text-align: center;
}

.writeMessage {
  grid-area: write;
  justify-self: end;
  align-self: end;
}

.writeMessage a {
  font-size: 15px;
  text-decoration: none;
  color: var(--statusColor);
}

.writeMessage a:hover {
  font-size: 14px;
  color: rgb(161, 161, 161);
}

@media (max-width: 600px) {
  .header {
    margin-left: 65px;
  }
}

@media (max-width: 480px) {
  .header {
    margin-left: 0;
  }
  .title {
    margin-left: 0px;
    font-size: 22px;
    font-weight: bold;
    color: var(--fontColor);
  }
  .friend {
    grid-template-rows: 70px;
    grid-template-columns: 70px 245px;
    margin-bottom: 10px;
    grid-column-gap: 0;
  }
  .photo {
    height: 70px;
  }
  .rightPart {
    border-radius: 20px;
    padding: 8px;
  }
  .name {
    font-size: 15px;
    margin-left: 8px;
    margin-top: 5px;
  }
  .writeMessage a {
    font-size: 12px;
  }
}
