* {
  font-family: "Source Sans Pro", sans-serif;
}
.newsPage {
  width: 100%;
  height: 100%;
}
/*! PostsListPage */

.postsListPage {
  box-sizing: border-box;
  display: grid;
  width: 800px;
  margin: 0 auto;
  padding: 10px;
  grid-template-rows: 60px 1fr;
  grid-row-gap: 10px;
  grid-template-areas: "header" "posts";
}
/*? Header */
.header {
  height: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  position: relative;
  padding: 5px;
  background-color: var(--navBarBac);
  border-radius: 10px;
}
.header::after {
  content: " ";
  width: 46%;
  height: 3px;
  bottom: 0;
  position: absolute;
  background-color: #1178f2;
  transform: translate(5%, 0%);
  transition: all 0.3s;
}
.headerBorderBottomRight::after {
  transform: translate(112%, 0%);
  transition: all 0.3s;
}
.newsItemBlock {
  text-decoration: none;
  cursor: pointer;
  display: grid;
  transition: all 0.2s;
}
.newsItemBlock:hover {
  height: 100%;
  width: 100%;
  border-radius: 10px;
  align-self: center;
  justify-self: center;
  background-color: var(--headItem);
}
.allPostsItemBlock {
  text-decoration: none;
  cursor: pointer;
  display: grid;
  transition: all 0.2s;
}
.allPostsItemBlock:hover {
  height: 100%;
  width: 100%;
  border-radius: 10px;
  align-self: center;
  justify-self: center;
  background-color: var(--headItem);
}
.itemActive {
  color: #1178f2 !important;
}
.newsItem {
  align-self: center;
  justify-self: center;
  color: var(--fontColor);
  font-family: "Patua One", cursive;
}
.allPostsItem {
  align-self: center;
  justify-self: center;
  color: var(--fontColor);
  font-family: "Patua One", cursive;
}
/* header2 */
.header2 {
  grid-area: header2;
  display: grid;
  grid-template-columns: 1fr 60px 40px;
  transition: all 0.5s;
}
.active {
  grid-template-columns: 1fr 40px;
  transition: all 0.5s;
}
.heading {
  color: var(--fontColor);
  font-size: 25px;
  display: grid;
  height: 100%;
  width: 100%;
  border-bottom: 1px solid var(--BorderBottom);
  transition: all 0.5s;
}
.action {
  transition: all 0.5s;
  display: none !important;
}

.heading span {
  align-self: center;
  justify-self: center;
}
/*? Search  */
.wrap {
  align-self: center;
  display: inline-block;
  position: relative;
  height: 50px;
  padding: 0;
}
.forma {
  width: 100%;
  height: 100%;
  display: grid;
}
.search {
  box-sizing: border-box;
  height: 100%;
  font-size: 20px;
  display: inline-block;
  border: none;
  outline: none;
  color: var(--fontColor);
  padding: 5px 40px 2px 5px;
  /* padding-right: 40px; */
  width: 0px;
  position: absolute;
  top: 0;
  right: 0;
  background: none;
  z-index: 3;
  transition: width 0.5s;
  cursor: pointer;
}

.search:focus:hover {
  border-bottom: 1px solid var(--BorderBottom);
}

.search:focus {
  width: 100%;
  z-index: 1;
  border-bottom: 1px solid var(--BorderBottom);
  cursor: text;
}
.searchSubmit {
  align-self: center;
  height: 30px;
  display: inline-block;
  border: none;
  position: absolute;
  top: 12px;
  right: 3px;
  z-index: 2;
  cursor: pointer;
  transition: opacity 0.4s ease;
}
input[type="submit"] {
  height: 43px;
  width: 40px;

  background: url(./../../../assets/images/search.png) center center no-repeat;
  background-size: 30px;
  text-indent: -10000px;
}

input[type="submit"]:hover {
  opacity: 0.8;
}
/*? Edit block  */
.editBlock {
  display: grid;
}

.edit {
  cursor: pointer;
  align-self: center;
  justify-self: end;
  height: 35px;
}
.all {
  position: fixed;
  top: 0;
  left: 0;
  display: none;
  width: 100vw;
  height: 100vh;
  z-index: 5;
  opacity: 0;
  background-color: rgba(255, 255, 255, 0);
  transition: all 0.7s;
}
.used {
  display: grid;
  background-color: rgba(88, 87, 87, 0.349);
  opacity: 0.4;
}

.createPost {
  display: none;
}

/* ! Create post small */
.PostCreationBlock {
  z-index: 99999999;
  /* display: none; */
  display: grid;
  position: absolute;
  bottom: 0;
  border-radius: 10px;
  left: 0;
  background-color: #1b1b1b;
  /* height: auto; */
  grid-template-rows: 60px auto 50px;
  /* width: 600px; */

  box-sizing: border-box;
}

.title {
  display: grid;
  border-bottom: 1px solid rgba(255, 255, 255, 0.473);
  margin: 0 10px 0 10px;
}
.titleField {
  justify-self: center;
  box-sizing: border-box;
  font-size: 22px;
  outline: none;
  resize: inherit;
  border: none;
  background-color: #1b1b1b;
  width: 100%;
  padding-top: 10px;
  min-height: 30px;
  color: var(--fontColor);
  text-align: center;
  white-space: normal;
}

.newPost {
  font-size: 18px;
  font-weight: 600;
  color: white;
  align-self: center;
}

.fieldInput {
  box-sizing: border-box;
  font-size: 17px;
  overflow: auto;
  outline: none;
  resize: inherit;
  /* margin: 0 10px 0 10px; */
  border: 1px solid #1b1b1b;
  background-color: #1b1b1b;
  width: 100%;
  min-height: 100px;
  max-height: calc(100vh - 110px);
  padding: 20px 10px;
  color: var(--fontColor);
}

.bot {
  margin: 0 10px 0 10px;
  border-top: 1px solid rgba(255, 255, 255, 0.445);
  display: grid;
  grid-template-columns: 1;
}

.bot img {
  align-self: center;
  justify-self: end;
  margin-right: 10px;
  height: 25px;
  width: 25px;
}

.posts {
  display: grid;
  grid-column: 200px;
}

/* ! Create post */
.PostCreationContainer {
  justify-self: center;
  transform: translate(-50%, 59px);
  /* top: 59; */
  left: 50%;
  text-align: center;
  width: 550px;
  z-index: 10;
  position: absolute;
  background-color: #1b1b1b;
  box-sizing: border-box;
  /* padding: 20px; */
  display: grid;
  grid-template-rows: auto 40px;
}

.PostCreationField {
  height: 100%;
  display: grid;
  box-sizing: border-box;
  border: 1px solid #ddd;
  border-radius: 5px;
  grid-row-gap: 10px;
  transition: all 0.2s;
  border-color: hsla(0, 0%, 100%, 0.062);
}
.focus {
  border-color: hsla(0, 0%, 100%, 0.473);
}

.titleCreatePost {
  width: 100%;
  min-height: 30px;
  max-height: auto;
  position: relative;
  justify-self: center;
  display: grid;
  box-sizing: border-box;
}
.titleCreatePost::before {
  content: "";
  position: absolute;
  width: 95%;
  height: 1px;
  justify-self: center;
  bottom: 0;
  text-align: center;
  background-color: rgba(255, 255, 255, 0.342);
}
.titleCreatePostField {
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Helvetica,
    Arial, sans-serif, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol;
  align-self: center;
  font-size: 15px;
  text-align: center;
  min-height: 30px;
  max-height: auto;
  overflow: hidden;
  width: 100%;
  resize: none;
  box-sizing: border-box;
  padding: 7px 5px 5px 5px;
  color: white;
  border: none;
  background-color: #1b1b1b;
  outline: none;
}
.bodyCreatePost {
  width: 100%;
  height: 100%;
  justify-self: center;
}
.bodyCreatePostField {
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Helvetica,
    Arial, sans-serif, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol;
  min-height: 100px;
  height: auto;
  width: 100%;
  height: 100%;
  overflow: scroll;
  resize: none;
  font-size: 14px;
  box-sizing: border-box;
  padding: 10px;
  color: white;
  border: none;
  background-color: #1b1b1b;
  outline: none;
}

.botCreatePost {
  display: grid;
  grid-template-columns: 70% 30%;
}
/* Стилизация кнопок у Create post */
.CloseBtn {
  cursor: pointer;
  height: 80%;
  width: 70px;
  justify-self: end;
  color: white;
  font-size: 14px;
  font-weight: 700;
  border: none;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Helvetica,
    Arial, sans-serif, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol;
  background-color: rgba(255, 255, 255, 0);
  align-self: center;
  transition: all 0.2s;
}
.CloseBtn:hover {
  background-color: rgba(255, 255, 255, 0.13);
  border-radius: 5px;
}
.CreatePostBtn {
  cursor: pointer;
  height: 80%;
  width: 90%;
  justify-self: center;
  font-size: 14px;
  font-weight: 700;
  line-height: 17px;
  border-radius: 5px;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Helvetica,
    Arial, sans-serif, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol;
  background-color: red;
  color: white;
  box-sizing: border-box;
  /* padding: 6px 12px 7px; */
  border: none;
  align-self: center;
}
.CreatePostBtn:hover {
  background-color: rgba(255, 0, 0, 0.849);
}
@media (max-width: 900px) {
  .postsListPage {
    margin: 0;
    width: 100vw;
  }
}
@media (max-width: 480px) {
  .PostCreationBlock {
    grid-template-rows: 60px auto 50px;
    width: 100vw;
  }
  .titleField {
    white-space: normal;
    margin: 0 10px;
  }
}

@media (max-width: 400px) {
  .createPost {
    box-sizing: border-box;
    display: grid;
    height: 40px;
    background-color: rgb(33, 32, 32);
    margin-bottom: 10px;
  }
  .createPostBlock {
    margin-left: 10px;
    height: 60%;
    align-self: center;
    justify-self: start;
    cursor: pointer;
    width: 60%;
    display: grid;
    border-radius: 5px;
    padding: 3px;
    background-color: rgb(71, 70, 70);
  }
  .createPostBlock span {
    font-size: 16px;
    font-weight: 500;
    color: white;
    align-self: center;
    justify-self: center;
  }
}
