* {
  font-family: "Source Sans Pro", sans-serif;
}

.PostsBlock {
  width: 700px;
  box-sizing: border-box;
  display: grid;
  grid-template-rows: 60px 1fr;
  grid-row-gap: 10px;
  grid-template-areas: "header" "posts";
}

.header {
  grid-area: header;
  display: grid;
  grid-template-columns: 1fr 60px 40px;
  margin: 0 20px;
  transition: all 0.5s;
}
.active {
  grid-template-columns: 1fr 40px;
  transition: all 0.5s;
}

.wrap {
  align-self: center;
  display: inline-block;
  position: relative;
  height: 50px;
  /* width: 50px; */
  padding: 0;
}
.forma {
  width: 100%;
  height: 100%;
  display: grid;
}
.search {
  box-sizing: border-box;
  height: 100%;
  font-size: 20px;
  display: inline-block;
  /* font-family: "Lato"; */
  /* font-weight: 100; */
  border: none;
  outline: none;
  color: var(--fontColor);
  padding: 5px 40px 2px 5px;
  /* padding-right: 40px; */
  width: 0px;
  position: absolute;
  top: 0;
  right: 0;
  background: none;
  z-index: 3;
  transition: width 0.5s;
  cursor: pointer;
}

.search:focus:hover {
  border-bottom: 1px solid var(--BorderBottom);
}

.search:focus {
  width: 100%;
  z-index: 1;
  border-bottom: 1px solid var(--BorderBottom);
  cursor: text;
}
.searchSubmit {
  align-self: center;
  height: 30px;
  display: inline-block;
  border: none;
  position: absolute;
  top: 12px;
  right: 3px;
  z-index: 2;
  cursor: pointer;
  transition: opacity 0.4s ease;
}
input[type="submit"] {
  height: 43px;
  width: 40px;

  background: url(./../../../assets/images/search.png) center center no-repeat;
  background-size: 30px;
  text-indent: -10000px;
}

input[type="submit"]:hover {
  opacity: 0.8;
}
.editBlock {
  display: grid;
}

.edit {
  cursor: pointer;
  align-self: center;
  justify-self: end;
  height: 35px;
}

.heading {
  color: var(--fontColor);
  font-size: 25px;
  display: grid;
  height: 100%;
  width: 100%;
  border-bottom: 1px solid var(--BorderBottom);
  transition: all 0.5s;
}
.action {
  transition: all 0.5s;
  display: none;
}

.heading span {
  align-self: center;
  justify-self: center;
}

.createPost {
  display: none;
}

.posts {
  display: grid;
  grid-column: 200px;
}

@media (max-width: 830px) {
  .PostsBlock {
    width: calc(400px + (700 - 400) * ((100vw - 480px) / (830 - 480)));
  }
}

@media (max-width: 480px) {
  .posts {
    width: 100%;
  }
  .PostsBlock {
    margin-bottom: 60px;
  }
}

@media (max-width: 400px) {
  .PostsBlock {
    width: 100vw;
    margin-bottom: 0;
  }
  .posts {
    grid-row-gap: 10px;
    width: 100%;
    margin-bottom: 60px;
  }
  .createPost {
    box-sizing: border-box;
    display: grid;
    height: 40px;
    background-color: rgb(33, 32, 32);
    margin-bottom: 10px;
  }
  .createPostBlock {
    margin-left: 10px;
    height: 60%;
    align-self: center;
    justify-self: start;
    cursor: pointer;
    width: 60%;
    display: grid;
    border-radius: 5px;
    padding: 3px;
    background-color: rgb(71, 70, 70);
  }
  .createPostBlock span {
    font-size: 16px;
    font-weight: 500;
    color: white;
    align-self: center;
    justify-self: center;
  }
}
