.coverBlock {
  position: relative;
  display: grid;
  width: 100%;
  height: 350px;
}
/*! Banner Block */

/*! Avatar Block  */
.avatarBlock {
  z-index: 2;
  position: absolute;
  top: 200px;
  display: grid;
  justify-self: center;
  background-color: white;
  padding: 5px;
  border-radius: 50%;
}
.avatarSubblock {
  position: relative;
  overflow: hidden;
  height: 150px;
  width: 150px;
}
.avatar {
  z-index: 2;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  width: 150px;
  height: 150px;
  border-radius: 50%;
  -o-object-fit: cover;
  object-fit: cover;
}
/* ? Edit avatar */
.editAvatarBlock {
  z-index: 3;
  position: absolute;
  cursor: pointer;
  background-color: rgb(51, 51, 51);
  border-radius: 50%;
  display: grid;
  padding: 5px;
  bottom: 5px;
  right: 5px;
}
.editAvatarBlock:hover {
  background-color: rgb(90, 90, 90);
}
.editAvatarCamera {
  align-self: center;
  justify-self: center;
}

@media (max-width: 700px) {
  .editCoverBlock {
    width: auto;
  }
  .editPhotoCoverBlock {
    width: 40px;
    grid-template-columns: 1fr;
  }
  .editBannerTitle {
    display: none;
  }
}
@media (max-width: 940px) {
  .bannerBlock {
    width: 100%;
  }
}
@media (max-width: 900px) {
  .coverBlock {
    height: calc(150px + (350 - 150) * ((100vw - 320px) / (900 - 320)));
  }
  .banner {
    height: calc(150px + (350 - 150) * ((100vw - 320px) / (900 - 320)));
  }
  .profileHead {
    grid-template-rows:
      calc(150px + (350 - 150) * ((100vw - 320px) / (900 - 320)))
      1fr 60px;
  }
  .avatarBlock {
    top: calc(3px + (200 - 3) * ((100vw - 320px) / (900 - 320)));
  }
}
