@import url("https://fonts.googleapis.com/css2?family=Patua+One&display=swap");

.postBlock {
  /* width: 500px; */
  display: grid;
  /* grid-template-rows: 50px 30px; */
  grid-template-areas: "header" "title" "body" "bot";
  /* grid-row-gap: 20px; */
  /* grid-template-rows: minmax(50px, auto) 0%; */
  /* border: 2px solid #138D90; */
  padding: 10px;
  background-color: var(--navBarBac);
  border-radius: 10px;
  margin: 0 0 15px 0;
}
.header {
  grid-area: "header";
  height: 50px;
  display: grid;
  padding-bottom: 10px;
  grid-template-columns: 50px 1fr 60px;
}
.avatarBlock {
  position: relative;
  overflow: hidden;
  width: 40px;
  height: 40px;
}
.avatarBlock img {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 40px;
  height: 40px;
  border-radius: 50%;
  object-fit: cover;
}
.nameAndDate {
  display: grid;
  grid-template-rows: 1fr 1fr;
}
.authorName {
  font-size: 16px;
  font-weight: bold;
  color: var(--fontColor);
}
.morePost {
  position: relative;
  height: 37px;
  width: 37px;
  align-self: center;
  cursor: pointer;
  justify-self: center;
  background-color: rgba(255, 255, 255, 0);
  border-radius: 50%;
  transition: all 0.5s;
}
.morePost:hover {
  background-color: rgba(255, 255, 255, 0.123);
}
.morePost::after {
  content: "";
  position: absolute;
  height: 5px;
  width: 5px;
  border-radius: 50%;
  background-color: rgb(255, 255, 255);
  top: 17px;
  right: 6px;
}
.morePost::before {
  content: "";
  position: absolute;
  height: 5px;
  width: 5px;
  border-radius: 50%;
  background-color: rgb(255, 255, 255);
  top: 17px;
  left: 6px;
}
.more {
  position: absolute;
  height: 5px;
  width: 5px;
  border-radius: 50%;
  background-color: rgb(255, 255, 255);
  top: 17px;
  left: 16px;
}
.datePost {
  color: #1877f2;
  font-size: 14px;
  font-weight: bold;
}
.margin {
  margin: 15px 15px 15px 15px;
}
/* .border {
  border-bottom: 1px solid var(--BorderBottom);
} */
.postTitle {
  color: var(--fontColor);
  font-size: 20px;
  text-align: center;
  font-weight: bold;
  word-break: break-all;
}
.authorImegeBlock {
  position: relative;
  overflow: hidden;
  width: 40px;
  height: 40px;
}
.postImg {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 40px;
  height: 40px;
  object-fit: cover;
  border-radius: 50%;
}

.postText {
  min-height: 50px;
  grid-area: body;
  color: var(--fontColor);
  font-weight: 400;
  word-break: break-all;
  white-space: pre-wrap;
  max-width: 100%;
  padding-top: 20px;
  font-size: 15px;
}

.photoName {
  grid-area: right;
  justify-self: end;
  display: grid;
  grid-column-gap: 5px;
  grid-template-columns: 40px auto;
}

.userName {
  align-self: center;
  font-size: 16px;
  color: var(--fontColor);
}

.but {
  background-color: #b39ab4;
  cursor: pointer;
  /* border: 1px solid black; */
  height: 30px;
  padding: 3px;
  margin-top: 20px;
}

button {
  color: black;
}

.heart {
  align-self: center;
  cursor: pointer;
  height: 17px;
  width: 17px;
  margin-right: 4px;
}

.botBlock {
  grid-area: bot;
  /* justify-self: end; */
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-areas: "left right";
  margin-top: 20px;
  margin-left: 10px;
}

.likeBlock {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.leftBlock {
  display: grid;
  grid-area: left;
  grid-column-gap: 5px;
  grid-template-columns: 20px 40px;
}

.commentsBlock {
  display: grid;
  align-self: center;
}

.likeBlock span {
  align-self: center;
  color: var(--fontColor);
}

.commentsImg {
  align-self: center;
  height: 20px;
}

.deleteBlock {
  justify-self: start;
}

.deleteBut {
  cursor: pointer;
  font-size: 12px;
  background-color: rgb(87, 84, 84);
  padding: 5px;
  border-radius: 5px;
  border: 1px solid black;
  color: white;
}

.textPost {
  align-self: center;
}
@media (max-width: 480px) {
  .postBlock {
    grid-row-gap: 5px;
  }
  .userName {
    font-size: 16px;
  }
  .postText {
    font-size: 14px;
  }
}
