.postBlock {
  /* width: 500px; */
  display: grid;
  /* grid-template-rows: 50px 30px; */
  grid-template-areas: "title" "body" "bot";
  /* grid-row-gap: 20px; */
  /* grid-template-rows: minmax(50px, auto) 0%; */
  /* border: 2px solid #138D90; */
  padding: 10px;
  background-color: var(--navBarBac);
  border-radius: 10px;
  margin: 0 0 15px 0;
}
.margin {
  margin: 15px 15px 15px 15px;
}
/* .border {
  border-bottom: 1px solid var(--BorderBottom);
} */
.postTitle {
  color: var(--fontColor);
  font-size: 20px;
  text-align: center;
  word-break: break-all;
}
.postImg {
  /* align-self: stretch; */
  width: 40px;
  height: 40px;
  border-radius: 50%;
}

.postText {
  min-height: 50px;
  grid-area: body;
  color: var(--fontColor);
  font-weight: 400;
  word-break: break-all;
  white-space: pre-wrap;
  max-width: 100%;
  padding-top: 20px;
  font-size: 15px;
}

.photoName {
  grid-area: right;
  justify-self: end;
  display: grid;
  grid-column-gap: 5px;
  grid-template-columns: 40px auto;
}

.userName {
  align-self: center;
  font-size: 16px;
  color: var(--fontColor);
}

.but {
  background-color: #b39ab4;
  cursor: pointer;
  /* border: 1px solid black; */
  height: 30px;
  padding: 3px;
  margin-top: 20px;
}

button {
  color: black;
}

.heart {
  align-self: center;
  cursor: pointer;
  height: 17px;
  width: 17px;
  margin-right: 4px;
}

.botBlock {
  grid-area: bot;
  /* justify-self: end; */
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-areas: "left right";
  margin-top: 20px;
  margin-left: 10px;
}

.likeBlock {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.leftBlock {
  display: grid;
  grid-area: left;
  grid-column-gap: 5px;
  grid-template-columns: 20px 40px;
}

.commentsBlock {
  display: grid;
  align-self: center;
}

.likeBlock span {
  align-self: center;
  color: var(--fontColor);
}

.commentsImg {
  align-self: center;
  height: 20px;
}

.deleteBlock {
  justify-self: start;
}

.deleteBut {
  cursor: pointer;
  font-size: 12px;
  background-color: rgb(87, 84, 84);
  padding: 5px;
  border-radius: 5px;
  border: 1px solid black;
  color: white;
}

.textPost {
  align-self: center;
}
@media (max-width: 480px) {
  .postBlock {
    grid-row-gap: 5px;
  }
  .userName {
    font-size: 16px;
  }
  .postText {
    font-size: 14px;
  }
}
