@import url("https://fonts.googleapis.com/css2?family=Patua+One&display=swap");

.postBlock {
  /* width: 500px; */
  display: grid;
  position: relative;
  /* grid-template-rows: 50px 30px; */
  grid-template-areas: "header" "title" "body" "listImg" "bot";
  /* grid-row-gap: 20px; */
  /* grid-template-rows: minmax(50px, auto) 0%; */
  /* border: 2px solid #138D90; */
  padding: 10px;
  background-color: var(--navBarBac);
  border-radius: 10px;
  margin: 0 0 15px 0;
}
.header {
  grid-area: "header";
  height: 50px;
  display: grid;
  padding-bottom: 10px;
  grid-template-columns: 50px 1fr 60px;
}

.avatarBlock {
  position: relative;
  overflow: hidden;
  width: 40px;
  height: 40px;
  text-decoration: none;
}
.dropdownMenusActive {
  display: grid;
}
.avatarBlock img {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 40px;
  height: 40px;
  border-radius: 50%;
  object-fit: cover;
}
.nameAndDate {
  display: grid;
  grid-template-rows: 1fr 1fr;
}
.authorName {
  font-size: 16px;
  font-weight: bold;
  color: var(--fontColor);
}
.morePost {
  position: relative;
  height: 36px;
  width: 36px;
  padding: 8px;
  align-self: center;
  cursor: pointer;
  justify-self: center;
  background-color: rgba(255, 255, 255, 0);
  border-radius: 50%;
  transition: all 0.5s;
}
.morePost:hover {
  background-color: var(--moreHover);
}
.more {
  position: relative;
  position: absolute;
  height: 4px;
  width: 4px;
  border-radius: 50%;
  top: 16px;
  left: 16px;
  transition: all 0.1s;
  background-color: var(--more);
}
.morePost::after {
  content: "";
  position: absolute;
  height: 4px;
  transition: all 0.1s;
  width: 4px;
  border-radius: 50%;
  background-color: var(--more);
  top: 16px;
  right: 9px;
}
.morePost::before {
  content: "";
  position: absolute;
  transition: all 0.1s;
  height: 4px;
  width: 4px;
  border-radius: 50%;
  background-color: var(--more);
  top: 16px;
  left: 9px;
}
.moreClose {
  display: none;
  position: relative;
  position: absolute;
  height: 4px;
  width: 4px;
  border-radius: 50%;
  top: 16px;
  left: 16px;
  background-color: var(--more);
}
.morePostClose:before,
.morePostClose:after {
  position: absolute;
  left: 17px;
  top: 12px;
  content: " ";
  height: 15px;
  width: 2px;
  background-color: var(--more);
  border-radius: 0;
}
.morePostClose:before {
  transform: rotate(45deg);
}
.morePostClose:after {
  transform: rotate(-45deg);
}

.datePost {
  color: #1877f2;
  font-size: 14px;
  font-weight: bold;
}
.margin {
  margin: 15px 15px 15px 15px;
}
/* .border {
  border-bottom: 1px solid var(--BorderBottom);
} */
.postTitle {
  color: var(--fontColor);
  font-size: 20px;
  text-align: center;
  font-weight: bold;
  word-break: break-all;
}
.authorImegeBlock {
  position: relative;
  overflow: hidden;
  width: 40px;
  height: 40px;
}
.postImg {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 40px;
  height: 40px;
  object-fit: cover;
  border-radius: 50%;
}

.postText {
  min-height: 50px;
  margin-bottom: 10px;
  grid-area: body;
  color: var(--fontColor);
  font-weight: 400;
  word-break: break-all;
  white-space: pre-wrap;
  max-width: 100%;
  padding-top: 20px;
  font-size: 15px;
}

.photoName {
  grid-area: right;
  justify-self: end;
  display: grid;
  grid-column-gap: 5px;
  grid-template-columns: 40px auto;
}

.userName {
  align-self: center;
  font-size: 16px;
  color: var(--fontColor);
}

.but {
  background-color: #b39ab4;
  cursor: pointer;
  /* border: 1px solid black; */
  height: 30px;
  padding: 3px;
  margin-top: 20px;
}

button {
  color: black;
}

.heart {
  align-self: center;
  justify-self: end;
  cursor: pointer;
  margin-right: 5px;
  height: 24px;
  width: 24px;
  transition: all 0.2s;
}
.likedBlock:active .heart {
  height: 22px;
  width: 22px;
  transition: all 0.1s;
}
/* Img list */
.popupPostImages {
  grid-area: listImg;
  padding-bottom: 10px;
  /* padding: 10px; */
  height: auto;
  width: 100%;

  display: block;
}
.imagesListItems {
  display: grid;
  grid-gap: 5px;
  grid-template-columns: 1fr 1fr;
}
.imagesItem {
  cursor: pointer;
  display: grid;
  height: 100%;
}
.imagesItem img {
  width: 100%;
  height: 100%;
}

.botBlock {
  grid-area: bot;
  /* justify-self: end; */
  grid-template-columns: 80px 1fr;
  grid-template-areas: "liked count";
  display: grid;
  margin-left: 10px;
  transition: all 0.2s;
}
.likeCountBlock {
  display: grid;
}
.likeCountBlock span {
  align-self: center;
  justify-self: start;
  color: var(--fontColor);
}
.like {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.likedBlock {
  grid-area: liked;
  width: 77px;
  cursor: pointer;
  height: 32px;
  grid-template-columns: 50% 50%;
  border-radius: 32px;
  background-color: var(--likeBlock);
  display: grid;
  transition: all 0.2s;
}
.likedBlock:hover {
  background-color: var(--likeBlockHover);
}
.likeTitle {
  align-self: center;
  justify-self: start;
  margin-left: 2px;
  color: var(--like);
}

.commentsBlock {
  display: grid;
  align-self: center;
}

.like span {
  align-self: center;
  color: var(--fontColor);
}

.commentsImg {
  align-self: center;
  height: 20px;
}

.deleteBlock {
  justify-self: start;
}

.deleteBut {
  cursor: pointer;
  font-size: 12px;
  background-color: rgb(87, 84, 84);
  padding: 5px;
  border-radius: 5px;
  border: 1px solid black;
  color: white;
}

.textPost {
  align-self: center;
}
@media (max-width: 480px) {
  .postBlock {
    grid-row-gap: 5px;
  }
  .userName {
    font-size: 16px;
  }
  .postText {
    font-size: 14px;
  }
}
