@import url("https://fonts.googleapis.com/css2?family=Patua+One&display=swap");

.profilePage {
  display: grid;
  grid-template-rows: auto 1fr;
}
.allScreen {
  width: 100vw;
  display: none;
  position: fixed;
  height: 100vh;
  z-index: 1000;
  overflow-y: scroll;
  top: 0;
  background-color: rgba(0, 0, 0, 0.507);
}
.allScreenActive {
  display: block;
}
.profileHead {
  position: relative;
  display: grid;
  width: 100vw;
  grid-template-rows: 350px 1fr 60px;
  background: linear-gradient(180deg, #ffffff17, var(--navBarBac));
}
/*! CoverPhoto */
.coverBlock {
  position: relative;

  display: grid;
  width: 100%;
  height: 350px;
}
.coverPhoto {
  justify-self: center;
  width: 940px;
  position: relative;
  overflow: hidden;
  display: grid;
}

.cover {
  position: absolute;
  top: 50%;
  left: 50%;
  z-index: 1;
  transform: translate(-50%, -50%);
  width: 100%;
  height: 350px;
  object-fit: cover;
  justify-self: center;
}
.loadingBanner {
  position: absolute;
  width: 50px;
  height: 10px;
  top: 40%;
  left: 50%;
  z-index: 1;
  transform: translate(-50%, -50%);
}
.loadingBanner img {
  width: 50px;
  height: 10px;
}
.avatarBlock {
  z-index: 2;
  position: absolute;
  top: 200px;
  display: grid;
  justify-self: center;
  background-color: white;
  padding: 5px;
  border-radius: 50%;
}
.avatarSubblock {
  position: relative;
  overflow: hidden;
  height: 150px;
  width: 150px;
}
.loadingAvatar {
  position: absolute;
  width: 30px;
  top: 50%;
  left: 50%;
  z-index: 1;
  transform: translate(-50%, -50%);
}
.loadingAvatar img {
  width: 30px;
}
.avatar {
  z-index: 2;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  width: 150px;
  height: 150px;
  border-radius: 50%;
  -o-object-fit: cover;
  object-fit: cover;
}
/* .avatar {
  height: 150px;
  width: 150px;
  border-radius: 50%;
} */
/* ? Edit avatar */
.editAvatarBlock {
  z-index: 3;
  position: absolute;
  cursor: pointer;
  background-color: rgb(51, 51, 51);
  border-radius: 50%;
  display: grid;
  padding: 5px;
  bottom: 5px;
  right: 5px;
}
.editAvatarBlock:hover {
  background-color: rgb(90, 90, 90);
}
.editAvatarCamera {
  align-self: center;
  justify-self: center;
}

/* ? Edit photo cover block */
.editBannerBlock {
  z-index: 2;
  position: absolute;
  bottom: 20px;
  right: 30px;
  width: 200px;
  height: 34px;
}
.editPhotoCoverBlock {
  cursor: pointer;
  width: 180px;
  height: 34px;
  background-color: white;
  border-radius: 5px;
  display: grid;
  grid-template-columns: 30% 70%;
}
.editPhotoCoverBlock:hover {
  background-color: rgb(245, 245, 245);
}
.editPhotoCoverImg {
  height: 20px;
  align-self: center;
  justify-self: center;
}
.editPhotoCover {
  align-self: center;
  font-family: "Patua One", cursive;
}
@media (max-width: 700px) {
  .editBannerBlock {
    width: auto;
  }
  .editPhotoCoverBlock {
    width: 40px;
    grid-template-columns: 1fr;
  }
  .editPhotoCover {
    display: none;
  }
}
@media (max-width: 940px) {
  .coverPhoto {
    width: 100%;
  }
}
@media (max-width: 900px) {
  .coverBlock {
    height: calc(150px + (350 - 150) * ((100vw - 320px) / (900 - 320)));
  }
  .cover {
    height: calc(150px + (350 - 150) * ((100vw - 320px) / (900 - 320)));
  }
  .profileHead {
    grid-template-rows:
      calc(150px + (350 - 150) * ((100vw - 320px) / (900 - 320)))
      1fr 60px;
  }
  .avatarBlock {
    top: calc(3px + (200 - 3) * ((100vw - 320px) / (900 - 320)));
  }
  /* .coverPhoto {
    width: calc();
  } */
}
/*! Profile Name and Status  */
.profileNameAndStatus {
  display: grid;
  width: 892px;
  justify-self: center;
  position: relative;
  padding: 0 10px;
  grid-template-rows: 45px 1fr;
}
@media (max-width: 892px) {
  .profileNameAndStatus {
    width: 100%;
  }
}
.profileNameAndStatus::after {
  content: "";
  position: absolute;
  width: 876px;
  bottom: 0;
  justify-self: center;
  height: 1px;
  background-color: var(--BorderBottom);
}
.profileNameAndCheckMark {
  display: inline-flex;
  justify-content: center;
  align-items: flex-end;
  overflow: hidden;
}
.profileNameAndCheckMarkIsAdmin {
  margin-left: 37px;
}
.profileNameAndCheckMark span {
  justify-self: center;
  font-family: "Patua One", cursive;
  color: var(--fontColor);
  font-size: 28px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.checkMarkBlock {
  display: none;
  margin-left: 5px;
}
.checkMarkBlockActive {
  display: grid;
}
.checkMarkBlock img {
  width: 34px;
}
.profileStatus {
  justify-self: center;
  min-height: 18px;
  color: var(--statusColor);
  margin-bottom: 10px;
  word-break: break-all;
}
.editStatus {
  margin-top: 5px;
  text-align: center;
  justify-self: center;
  width: 300px;
  font-size: 16px;
  border-radius: 5px;
  padding: 2px 5px;
  height: 26px;
  color: var(--statusColor);
  margin-bottom: 10px;
  border: 1px solid rgba(255, 255, 255, 0);
  background-color: rgba(0, 0, 0, 0.233);
  outline: none;
}
.setStatus {
  margin-bottom: 10px;
  color: #1877f2;
  font-weight: bold;
  cursor: pointer;
  font-size: 18px;
  justify-self: center;
}
.editStatus:focus {
  border: 1px solid #1877f2;
}
@media (max-width: 908px) {
  .profileNameAndStatus::after {
    width: 100%;
  }
}
/*! Profile description  */
.profileDescription {
  justify-self: center;
  width: 876px;
  display: grid;
  grid-template-columns: 1fr 1fr;
}
.publicationsBlock {
  cursor: pointer;
  position: relative;
  justify-self: start;
  width: 120px;
  display: grid;
  transition: all 0.2s;
  border-radius: 5px;
}
.publicationsBlock::after {
  content: "";
  height: 2px;
  position: absolute;
  bottom: 0;
  width: 100%;
  background-color: #1877f2;
}
.publications {
  align-self: center;
  justify-self: center;
  color: #1877f2;
  font-weight: bold;
  font-size: 18px;
}
.editProfileBlock {
  justify-self: end;
  width: 150px;
  align-self: center;
  height: 60%;
  display: grid;
  grid-template-columns: 35% 65%;
  cursor: pointer;
  transition: all 0.2s;
  border-radius: 5px;
  background-color: var(--editProfileBlock);
}
.editProfileImg {
  align-self: center;
  justify-self: end;
  margin-right: 5px;
}
.editProfileBlock:hover {
  background-color: var(--editProfileBlockHover);
}
.editProfile {
  align-self: center;
  justify-self: start;
  font-weight: bold;
  color: var(--fontColor);
}
.subscribeUnsubscribeBlock {
  display: grid;
}
.subscribeUnsubscribeBlockAndBan {
  grid-template-columns: 1fr 150px;
}
.banBlock {
  cursor: pointer;
  margin-right: 10px;
  display: grid;
  justify-self: end;
  background-color: var(--blockBlock);
  border-radius: 5px;
  width: 80px;
  align-self: center;
  height: 30px;
  /* grid-template-columns: 28px 1fr; */
}
.banBlock:hover {
  background-color: red;
}
.banImg {
  height: 20px;
  align-self: center;
  justify-self: end;
}
.ban {
  font-size: 17px;
  color: white;
  font-weight: bold;
  align-self: center;
  justify-self: center;
}
.unsubscribeBlock {
  justify-self: end;
  width: 150px;
  align-self: center;
  height: 60%;
  display: grid;
  cursor: pointer;

  transition: all 0.2s;
  border-radius: 5px;
  background-color: #c2c2c2;
}
.unsubscribeBlock:hover {
  background-color: #aaa8a8;
}
.unsubscribe {
  align-self: center;
  color: black;
  font-weight: bold;
  justify-self: center;
}
.subscribeBlock {
  justify-self: end;
  width: 150px;
  align-self: center;
  height: 60%;
  display: grid;
  cursor: pointer;
  transition: all 0.2s;
  border-radius: 5px;
  background-color: #2748ad;
}
.subscribeBlock:hover {
  background-color: #4e67b1;
}
.subscribe {
  color: white;
  font-weight: bold;
  align-self: center;
  justify-self: center;
}
@media (max-width: 900px) {
  .profileDescription {
    width: 100%;
    padding: 0 16px;
  }
}
/*! Profile body */
.profileBody {
  justify-self: center;
  width: 892px;
  margin: 8px 0;
  display: grid;
  grid-template-columns: 45% 55%;
}
@media (max-width: 892px) {
  .profileBody {
    width: 100vw;
    grid-template-columns: 1fr;
    grid-row-gap: 16px;
    grid-template-rows: auto 1fr;
  }
  .leftColumn {
    margin: 8px 8px 0 8px !important;
  }
  .rightColumn {
    margin: 0 8px 8px 8px !important;
  }
}
/*? Left column  */
.leftColumn {
  display: grid;
  margin: 8px;
  grid-row-gap: 16px;
}
/*?  Profile info block */
.profileInfoBlock {
  display: grid;
  grid-template-rows: 1fr;
  padding: 10px 15px 15px 15px;
  border-radius: 10px;
  background-color: var(--navBarBac);
}
.briefInformationTitle {
  color: var(--fontColor);
  align-self: center;
  font-size: 20px;
  font-family: "Patua One", cursive;
}
.editInformation {
  cursor: pointer;
  width: 100%;
  align-self: center;
  height: 70%;
  display: grid;
  background-color: #ffffff18;
  border-radius: 5px;
}
.editInformation:hover {
  background-color: #ffffff21;
}
.editInformation span {
  align-self: center;
  justify-self: center;
  color: var(--fontColor);
  font-size: 17px;
  font-weight: bold;
  /* font-family: "Patua One", cursive; */
}
.listOfInformation {
  display: grid;
  grid-template-rows: 40px 40px 1fr;
}
.listItems {
  align-self: center;
  display: grid;
  grid-template-columns: 40px 1fr;
}
.person {
  margin-top: 3px;
}
.birthdayImg {
  width: 25px;
  align-self: center;
}
.birthdayTitle {
  align-self: center;
  color: var(--fontColor);
  font-weight: bold;
}
.birthdayTitle span {
  color: #1877f2;
  cursor: pointer;
}
.placeOfResidenceBlockTitle {
  align-self: center;
  color: var(--fontColor);
  font-weight: bold;
}
.placeOfResidenceBlockTitle span {
  color: #1877f2;
  cursor: pointer;
}
.aboutMe {
  margin-top: 5px;
  color: var(--fontColor);
  font-weight: bold;
  min-width: 0px;
  max-width: 100%;
}
.aboutMe span {
  color: #1877f2;
  white-space: break-spaces;
  word-wrap: break-word;
}
/*? Friends Block  */
.subscriptionSubscribersBlock {
  display: grid;
  grid-template-rows: 40px 1fr;
  padding: 15px;
  height: auto;
  border-radius: 10px;
  background-color: var(--navBarBac);
}
.subscriptionSubscribersBlockEmpty {
  grid-template-rows: 40px 40px;
}
.subscriptionSubscribersTitle {
  display: grid;
  color: var(--fontColor);
  font-size: 20px;
  font-family: "Patua One", cursive;
}
.subscriptionSubscribersTitle a {
  color: var(--fontColor);
  text-decoration: none;
  transition: all 0.1s;
  font-size: 20px;
  justify-self: start;
  align-self: start;
  font-family: "Patua One", cursive;
}
.subscriptionSubscribersTitle a:hover {
  color: #1877f2;
  cursor: pointer;
}
.subscriptionSubscribersList {
  display: grid;
  overflow: scroll;
  grid-template-rows: 95px;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-row-gap: 10px;
  grid-column-gap: 10px;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.subscriptionSubscribersListNone {
  display: none;
}
@media (max-width: 380px) {
  .subscriptionSubscribersList {
    grid-template-columns: 1fr 1fr 1fr;
  }
}
.subscriptionSubscribersListItem {
  display: grid;
  grid-template-rows: 70px 25px;
  text-decoration: none;
}
.subscriptionSubscribersBlockImg {
  position: relative;
  overflow: hidden;
  width: 70px;
  justify-self: center;
  height: 70px;
}
.subscriptionSubscribersImg {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 70px;
  height: 70px;
  border-radius: 50%;
  object-fit: cover;
}
.subscriptionSubscribersName {
  color: var(--fontColor);
  font-size: 17px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  text-align: center;
  font-weight: bold;
}
.seeAllSubscriptionsBlock {
  display: grid;
}
.seeAllSubscriptions {
  align-self: center;
  justify-self: center;
  color: #1877f2;
  font-size: 20px;
  text-decoration: none;
  cursor: pointer;
  font-family: "Patua One", cursive;
}
.seeAllSubscribersBlock {
  display: grid;
}
.seeAllSubscribers {
  text-decoration: none;
  align-self: center;
  justify-self: center;
  color: #1877f2;
  font-size: 20px;
  cursor: pointer;
  font-family: "Patua One", cursive;
}
/*! Right column  */
.rightColumn {
  display: grid;
  margin: 8px;
  grid-row-gap: 16px;
  grid-template-rows: 60px 100px 1fr;
}
.rightColumnNoOwner {
  grid-template-rows: 100px 1fr;
}
/*? publications block */
.publicationsBlockAll {
  display: grid;
  height: 100px;
  border-radius: 10px;
  background-color: var(--navBarBac);
  grid-template-rows: 60% 40%;
}
.publicationsTitleAndFilter {
  border-bottom: 1px solid var(--BorderBottom);
  display: grid;
  grid-template-columns: 1fr 1fr;
}
.publicationsTitle {
  color: var(--fontColor);
  font-size: 20px;
  align-self: center;
  padding-left: 10px;
  font-family: "Patua One", cursive;
}
.publicationsFilter {
  margin-right: 10px;
  align-self: center;
  justify-self: end;
  cursor: pointer;
  width: 90px;
  height: 60%;
  border-radius: 5px;
  background-color: var(--anythingNew);
  align-self: center;
  display: grid;
  grid-template-columns: 40% 60%;
}
.publicationsFilter:hover {
  background-color: var(--anythingNewHover);
}
.publicationsFilterImg {
  height: 20px;
  align-self: center;
  justify-self: center;
}
.publicationsFilterTitle {
  color: var(--fontColor);
  font-size: 16px;
  align-self: center;
  justify-self: start;
  font-weight: bold;
}
.listBlock {
  position: relative;
  margin: 0 10px;
  display: grid;
  grid-template-columns: 1fr 1fr;
}
.listBlock::after {
  content: "";
  bottom: 0;
  position: absolute;
  height: 3px;
  border-radius: 1px;
  width: 100%;
  background-color: #1877f2;
}
.listImg {
  align-self: center;
  justify-self: end;
  padding-right: 5px;
  height: 20px;
}
.listTitle {
  padding-left: 2px;
  color: #1877f2;
  letter-spacing: 1px;
  align-self: center;
  font-size: 18px;
  font-weight: bold;
}
.inTheLeftColumn {
  position: sticky;
  align-self: start;
  display: grid;
  top: 61px;
  grid-row-gap: 10px;
}
.editProfileMenuBlock {
  position: fixed;
  height: 100vh;
  width: 100vw;
  top: 0;
  left: 0;
  overflow-y: scroll;
  background-color: rgba(0, 0, 0, 0.425);
  display: none;
  z-index: 999;
}
.editProfileMenuBottom {
  height: 40px;
  bottom: 0;
}
@media (max-width: 600px) {
  .editProfileMenuBottom {
    height: 0;
  }
}
.activeEditProfileMenuBlock {
  display: grid;
}
