.descriptionBlock {
    display: grid;
    grid-template-columns: 310px 500px;
    grid-template-areas: "leftdiscription rightdescription";
    grid-column-gap: 21px;
}

.description {
    grid-area: rightdescription;
    /* height: 600px; */
    /* margin-left: 20px; */
    border: 2px solid white;
    border-radius: 20px;
    padding: 16px;
    display: grid;
    grid-template-rows: 100px 100px 100px;
    grid-template-areas: "top" "center" "bot";
    background-color: rgb(43, 43, 43);
}

.descriptionEditModeTrue {
    grid-area: rightdescription;
    height: 950px;
    /* margin-left: 20px; */
    border: 2px solid white;
    border-radius: 20px;
    padding: 16px;
    display: grid;
    grid-template-rows: 100px 100px 650px 100px;
    grid-template-areas: "top" "center" "editMode" "bot";
    background-color: rgb(43, 43, 43);
}

.field {
    display: inline-block;
}

.preloader {
    margin-top: -100px;
}

.descriptionDeployed {
    grid-area: rightdescription;
    height: 950px;
    /* margin-left: 20px; */
    border: 2px solid white;
    border-radius: 20px;
    padding: 16px;
    display: grid;
    grid-template-rows: 100px 100px 650px 100px;
    grid-template-areas: "top" "center" "editMode" "bot";
    background-color: rgb(43, 43, 43);
}

.deploy {
    grid-area: editMode;
}

.detailed:hover {
    color: rgba(255, 255, 255, 0.555);
}

.deploy div {
    color: rgb(212, 212, 212);
    margin-bottom: 5px;
}

.saveBut {
    width: 60px;
    cursor: pointer;
    height: 30px;
    margin-top: 10px;
    background-color: rgb(99, 99, 99);
    border: 1px solid rgb(99, 99, 99);
}

.saveBut:hover {
    background-color: rgb(201, 200, 200);
}

.contactsBlock {
    padding-left: 20px;
    padding-top: 5px;
}

.contactsBlock b {
    padding-top: 10px;
}

.contacts {
    color: white;
}

.leftDescription {
    grid-area: leftdiscription;
    display: grid;
    grid-template-rows: 300px 30px;
    grid-template-columns: 300px;
}

.topDescriptionLeft {
    display: grid;
    grid-template-columns: 260px 40px;
}

.setPhoto {
    align-self: flex-end;
}

.followed {
    justify-self: center;
    align-self: end;
}

.followBut {
    height: 24px;
    width: 100px;
    background-color: rgb(88, 88, 88);
    border: 1px solid rgb(88, 88, 88);
    cursor: pointer;
    color: rgb(0, 0, 0);
}

.followBut:hover {
    background-color: rgb(163, 163, 163);
    border: 1px solid rgb(163, 163, 163);
}

.ava {
    grid-area: ava;
    width: 300px;
    border-radius: 150px;
}

.icon {
    grid-area: icon;
    align-self: flex-end;
    cursor: pointer;
}

.discriptionTop {
    grid-area: top;
}

.discriptionTop {
    color: rgb(173, 173, 173);
}

.descriptionCenter {
    grid-area: center;
    display: grid;
}

.detailed {
    align-self: center;
    justify-self: center;
    cursor: pointer;
}

.descriptionCenter div {
    color: white;
}

.discriptionBot {
    grid-area: bot;
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-template-areas: "left right";
}

.name {
    font-size: 22px;
    font-weight: 600;
    color: white;
    /* margin-bottom: 10px; */
}

.botLeft {
    grid-area: left;
    align-self: center;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-template-areas: "nf sf pf" "f s p";
}

.botLeft div {
    color: white;
}

.numberOfFriends {
    grid-area: nf;
    justify-self: center;
}

.friends {
    grid-area: f;
    justify-self: center;
}

.numberOfSubscribers {
    grid-area: sf;
    justify-self: center;
}

.subscribers {
    grid-area: s;
    justify-self: center;
}

.numberOfPhotos {
    grid-area: pf;
    justify-self: center;
}

.photo {
    grid-area: p;
    justify-self: center;
}

.botRight {
    font-size: 14px;
    grid-area: right;
    align-self: flex-end;
    justify-self: flex-end;
    color: white;
}

.imgHeader {
    width: 100%;
    height: 400px;
}

.status {
    font-size: 14px;
    font-weight: 500;
    margin-bottom: 5px;
    cursor: pointer;
}

.status:hover {
    background-color: rgb(192, 192, 192);
    border-radius: 5px;
    color: black;
    height: 16px;
}

.input {
    /* margin-top: 7px; */
    width: 100%;
    outline: none;
    padding: 3px;
    border-radius: 8px;
    border: 1px solid black;
    /* margin-top: -200px; */
}

input[type=file] {
    outline: 0;
    opacity: 0;
    pointer-events: none;
    user-select: none
}