@import url("https://fonts.googleapis.com/css2?family=Patua+One&display=swap");

.profilePage {
  display: grid;
  grid-template-rows: 505px 1fr;
}
.allScreen {
  width: 100vw;
  display: none;
  position: fixed;
  height: 100vh;
  z-index: 99999999999999999;
  overflow-y: scroll;
  top: 0;
  background-color: rgba(0, 0, 0, 0.507);
}
.allScreenActive {
  display: block;
}
.profileHead {
  position: relative;
  display: grid;
  width: 100vw;
  grid-template-rows: 350px 85px 60px;
  background: linear-gradient(180deg, #ffffff17, var(--navBarBac));
}
/*! CoverPhoto */
.coverBlock {
  position: relative;
  display: grid;
  width: 100%;
  height: 350px;
}
.coverPhoto {
  justify-self: center;
  width: 940px;
  position: relative;
  display: grid;
}
.cover {
  justify-self: center;
  width: 100%;
  height: 350px;
}
.avatarBlock {
  position: absolute;
  top: 200px;
  display: grid;
  justify-self: center;
  background-color: white;
  padding: 5px;
  border-radius: 50%;
}
.avatar {
  height: 150px;
  width: 150px;
  border-radius: 50%;
}
/* ? Edit avatar */
.editAvatarBlock {
  position: absolute;
  cursor: pointer;
  background-color: rgb(51, 51, 51);
  border-radius: 50%;
  display: grid;
  padding: 5px;
  bottom: 5px;
  right: 5px;
}
.editAvatarBlock:hover {
  background-color: rgb(90, 90, 90);
}
.editAvatarCamera {
  align-self: center;
  justify-self: center;
}

/* ? Edit photo cover block */
.editPhotoCoverBlock {
  position: absolute;
  cursor: pointer;
  bottom: 20px;
  right: 30px;
  width: 200px;
  height: 34px;
  background-color: white;
  border-radius: 5px;
  display: grid;
  grid-template-columns: 30% 70%;
}
.editPhotoCoverBlock:hover {
  background-color: rgb(245, 245, 245);
}
.editPhotoCoverImg {
  height: 20px;
  align-self: center;
  justify-self: center;
}
.editPhotoCover {
  align-self: center;
  font-weight: bold;
}
@media (max-width: 900px) {
  .editPhotoCoverBlock {
    width: 40px;
    grid-template-columns: 1fr;
  }
  .editPhotoCover {
    display: none;
  }
}
@media (max-width: 940px) {
  .coverPhoto {
    width: 100%;
  }
}
@media (max-width: 900px) {
  .coverBlock {
    height: calc(150px + (350 - 150) * ((100vw - 320px) / (900 - 320)));
  }
  .cover {
    height: calc(150px + (350 - 150) * ((100vw - 320px) / (900 - 320)));
  }
  .profileHead {
    grid-template-rows:
      calc(150px + (350 - 150) * ((100vw - 320px) / (900 - 320)))
      1fr 60px;
  }
  .profilePage {
    grid-template-rows: calc(
      295px + (505 - 295) * ((100vw - 320px) / (900 - 320))
    );
  }
  .avatarBlock {
    top: calc(3px + (200 - 3) * ((100vw - 320px) / (900 - 320)));
  }
  /* .coverPhoto {
    width: calc();
  } */
}
/*! Profile Name and Status  */
.profileNameAndStatus {
  display: grid;
  position: relative;
  grid-template-rows: 45px 40px;
}
.profileNameAndStatus::after {
  content: "";
  position: absolute;
  width: 876px;
  bottom: 0;
  justify-self: center;
  height: 1px;
  background-color: var(--BorderBottom);
}
.profileName {
  justify-self: center;
  align-self: end;
  font-family: "Patua One", cursive;
  color: var(--fontColor);
  font-size: 28px;
}
.profileStatus {
  justify-self: center;
  color: blue;
}
@media (max-width: 908px) {
  .profileNameAndStatus::after {
    width: 100%;
  }
}
/*! Profile description  */
.profileDescription {
  justify-self: center;
  width: 876px;
  display: grid;
  grid-template-columns: 1fr 1fr;
}
.publicationsBlock {
  cursor: pointer;
  position: relative;
  justify-self: start;
  width: 120px;
  display: grid;
  transition: all 0.2s;
  border-radius: 5px;
}
.publicationsBlock::after {
  content: "";
  height: 2px;
  position: absolute;
  bottom: 0;
  width: 100%;
  background-color: #1877f2;
}
.publications {
  align-self: center;
  justify-self: center;
  color: #1877f2;
  font-weight: bold;
  font-size: 18px;
}
.editProfileBlock {
  justify-self: end;
  width: 150px;
  align-self: center;
  height: 60%;
  display: grid;
  grid-template-columns: 35% 65%;
  cursor: pointer;
  transition: all 0.2s;
  border-radius: 5px;
  background-color: #ffffff1a;
}
.editProfileImg {
  align-self: center;
  justify-self: end;
  margin-right: 5px;
}
.editProfileBlock:hover {
  background-color: #ffffff36;
}
.editProfile {
  align-self: center;
  justify-self: start;
  font-weight: bold;
  color: white;
}
@media (max-width: 900px) {
  .profileDescription {
    width: 100%;
    padding: 0 16px;
  }
}
/*! Profile body */
.profileBody {
  justify-self: center;
  width: 892px;
  margin: 8px 0;
  display: grid;
  grid-template-columns: 45% 55%;
}
@media (max-width: 892px) {
  .profileBody {
    width: 100vw;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;
  }
  .leftColumn {
    margin: 8px 8px 0 8px !important;
  }
  .rightColumn {
    margin: 0 8px 8px 8px !important;
  }
}
/*? Left column  */
.leftColumn {
  display: grid;
  margin: 8px;
  grid-row-gap: 16px;
}
/*?  Profile info block */
.profileInfoBlock {
  display: grid;
  grid-template-rows: 30px 1fr 50px;
  padding: 15px;
  border-radius: 10px;
  background-color: var(--navBarBac);
}
.briefInformationTitle {
  color: var(--fontColor);
  align-self: center;
  font-size: 20px;
  font-family: "Patua One", cursive;
}
.editInformation {
  cursor: pointer;
  width: 100%;
  align-self: center;
  height: 70%;
  display: grid;
  background-color: #ffffff18;
  border-radius: 5px;
}
.editInformation:hover {
  background-color: #ffffff21;
}
.editInformation span {
  align-self: center;
  justify-self: center;
  color: var(--fontColor);
  font-size: 17px;
  font-weight: bold;
  /* font-family: "Patua One", cursive; */
}
.listOfInformation {
  display: grid;
  grid-template-rows: 40px 40px 1fr;
}
.listItems {
  align-self: center;
  display: grid;
  grid-template-columns: 40px 1fr;
}
.birthdayImg {
  width: 25px;
  align-self: center;
}
.birthdayTitle {
  align-self: center;
  color: var(--fontColor);
  font-weight: bold;
}
.birthdayTitle span {
  color: #1877f2;
  cursor: pointer;
}
.placeOfResidenceBlockTitle {
  align-self: center;
  color: var(--fontColor);
  font-weight: bold;
}
.placeOfResidenceBlockTitle span {
  color: #1877f2;
  cursor: pointer;
}
.aboutMe {
  margin-top: 3px;
  color: var(--fontColor);
  font-weight: bold;
}
.aboutMe span {
  color: #1877f2;
}
/*? Friends Block  */
.friendsBlock {
  display: grid;
  grid-template-rows: 30px 1fr;
  padding: 15px;
  height: 380px;
  border-radius: 10px;
  background-color: var(--navBarBac);
}
.friendsTitle {
  color: var(--fontColor);
  font-size: 20px;
  font-family: "Patua One", cursive;
}
.friendsList {
  display: grid;
  overflow: scroll;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-row-gap: 10px;
  grid-column-gap: 10px;
  white-space: nowrap;
  text-overflow: ellipsis;
}
@media (max-width: 380px) {
  .friendsList {
    grid-template-columns: 1fr 1fr 1fr;
  }
}
.friendsListItem {
  display: grid;
  grid-template-rows: 70px 25px;
  text-decoration: none;
}

.friendsImg {
  height: 70px;
  width: 70px;
  border-radius: 10px;
  align-self: center;
  justify-self: center;
}
.friendsName {
  color: var(--fontColor);
  font-size: 17px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  text-align: center;
  font-weight: bold;
}
/*! Right column  */
.rightColumn {
  display: grid;
  margin: 8px;
  grid-row-gap: 16px;
  grid-template-rows: 100px 1fr;
}
/*? publications block */
.publicationsBlockAll {
  display: grid;
  height: 100px;
  border-radius: 10px;
  background-color: var(--navBarBac);
  grid-template-rows: 60% 40%;
}
.publicationsTitleAndFilter {
  border-bottom: 1px solid var(--BorderBottom);
  display: grid;
  grid-template-columns: 1fr 1fr;
}
.publicationsTitle {
  color: var(--fontColor);
  font-size: 20px;
  align-self: center;
  padding-left: 10px;
  font-family: "Patua One", cursive;
}
.publicationsFilter {
  margin-right: 10px;
  align-self: center;
  justify-self: end;
  cursor: pointer;
  width: 90px;
  height: 60%;
  border-radius: 5px;
  background-color: rgba(255, 255, 255, 0.096);
  align-self: center;
  display: grid;
  grid-template-columns: 40% 60%;
}
.publicationsFilter:hover {
  background-color: rgba(255, 255, 255, 0.123);
}
.publicationsFilterImg {
  height: 20px;
  align-self: center;
  justify-self: center;
}
.publicationsFilterTitle {
  color: var(--fontColor);
  font-size: 16px;
  align-self: center;
  justify-self: start;
  font-weight: bold;
}
.listBlock {
  position: relative;
  margin: 0 10px;
  display: grid;
  grid-template-columns: 1fr 1fr;
}
.listBlock::after {
  content: "";
  bottom: 0;
  position: absolute;
  height: 3px;
  border-radius: 1px;
  width: 100%;
  background-color: #1877f2;
}
.listImg {
  align-self: center;
  justify-self: end;
  padding-right: 5px;
  height: 20px;
}
.listTitle {
  padding-left: 2px;
  color: #1877f2;
  letter-spacing: 1px;
  align-self: center;
  font-size: 18px;
  font-weight: bold;
}
