.postBlock {
    /* width: 500px; */
    display: grid;
    /* grid-template-rows: 50px 30px; */
    grid-template-areas: "photoName" "body" "likes";
    /* grid-template-rows: minmax(50px, auto) 0%; */
    /* border: 2px solid #138D90; */
    border-radius: 7px;
    background-color: #414040;
    padding: 10px;
    margin-bottom: 10px;
}

.postImg {
    align-self: stretch;
    width: 50px;
    height: 50px;
    border-radius: 30px;
}

.postText {
    grid-area: body;
    word-wrap: break-word;
    max-width: 450px;
    padding-top: 15px;
    font-size: 14px;
}

.photoName {
    grid-area: photoName;
    display: grid;
    grid-template-columns: 60px auto;
}

.userName {
    align-self: center;
    font-size: 16px;
    color: #fff;
}

.but {
    background-color: #b39ab4;
    cursor: pointer;
    /* border: 1px solid black; */
    height: 30px;
    padding: 3px;
    margin-top: 20px;
}

button {
    color: black;
}

.heart {
    align-self: center;
    cursor: pointer;
    height: 17px;
    width: 17px;
    margin-right: 4px;
}

.botBlock {
    grid-area: likes;
    /* justify-self: end; */
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin-top: 10px;
    margin-left: 10px;
}

.likeBlock {
    justify-self: end;
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.deleteBlock {
    justify-self: start;
}

.deleteBut {
    cursor: pointer;
    background-color: black;
    padding-left: 10px;
    padding-right: 10px;
    border-radius: 5px;
    border: 1px solid black;
    color: white;
}

.textPost {
    align-self: center;
}