.profileNameAndStatus {
  display: grid;
  width: 892px;
  justify-self: center;
  position: relative;
  padding: 0 10px;
  grid-template-rows: 45px 1fr;
}

.profileNameAndStatus::after {
  content: "";
  position: absolute;
  width: 876px;
  bottom: 0;
  justify-self: center;
  height: 1px;
  background-color: var(--BorderBottom);
}

@media (max-width: 908px) {
  .profileNameAndStatus::after {
    width: 100%;
  }
}
@media (max-width: 892px) {
  .profileNameAndStatus {
    width: 100%;
  }
}
