.newsBlock {
  display: grid;
  width: 700px;
  grid-template-rows: 50px 1fr;
  grid-row-gap: 20px;
}

.header {
  display: grid;
  grid-template-columns: 30px 1fr 30px 30px;
  border-bottom: 1px solid rgb(56, 56, 56);
  margin: 0 10px;
}
.newsImg {
  align-self: center;
  justify-self: center;
}

.postBlock {
  /* width: 500px; */
  display: grid;
  /* grid-template-rows: 50px 30px; */
  grid-template-areas: "photoName" "body" "likes";
  /* grid-template-rows: minmax(50px, auto) 0%; */
  /* border: 2px solid #138D90; */
  padding: 10px;
  margin-bottom: 10px;
  border-bottom: 1px solid var(--BorderBottom);
}

.title {
  align-self: center;
  color: var(--fontColor);
  font-size: 22px;
  font-weight: 1000;
  margin-left: 10px;
}

.renewImg {
  align-self: center;
  height: 25px;
}

.searchImg {
  align-self: center;
  height: 22px;
}
@media (max-width: 850px) {
  .newsBlock {
    width: calc(370px + (700 - 370) * ((100vw - 480px) / (850 - 480)));
  }
}

@media (max-width: 480px) {
  .newsBlock {
    width: 100vw;
  }
}
