body {
    margin: 0;
    background-color: rgb(34, 34, 34);
    /* background-size:  100%; */
    /* background-attachment: fixed; */
}

::-webkit-scrollbar {
    width: 0;
}

.loginPage {
    height: 100vh;
    display: grid;
}

.app-wrapper {
    /* margin: 0 auto; */
    overflow: hidden;
    display: grid;
    /* width: 1200px; */
    grid-template-areas: "h h h h" "n c c c";
    grid-template-rows: 60px 1fr;
    grid-template-columns: 500px 1fr 1fr 1fr;
    grid-gap: 20px;
}

.app-wrapper-content {
    grid-area: c;
    display: grid;
    /* margin-right: 300px; */
    background-color: rgb(34, 34, 34);
}

@media (max-width: 1250px) {
    .app-wrapper-content {
        justify-content: center;
    }
}

@media (max-width: 860px) {
    .app-wrapper-content {
        justify-content: start;
    }
}

@media (max-width: 990px) {
    .app-wrapper {
        grid-template-columns: 430px 1fr 1fr 1fr;
    }
}

@media (max-width: 879px) {
    .app-wrapper {
        grid-template-columns: 380px 1fr 1fr 1fr;
    }
}

@media (max-width: 800px) {
    .app-wrapper {
        grid-template-columns: 50px 1fr 1fr 1fr;
    }
    .app-wrapper-content {
        justify-self: center;
    }
}

@media (max-width: 480px) {
    .app-wrapper {
        grid-template-areas: "h" "c";
        grid-template-rows: 1fr;
        grid-template-columns: 100%;
        grid-gap: 0;
    }
}