body {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  margin: 0;
  padding: 0;
  display: grid;
  height: 100vh;
  background-color: var(--body);
  /* background-size:  100%; */
  /* background-attachment: fixed; */
  transition: all 0.3s ease 0s;
}
#root {
  display: grid;
}
.isPostCreation {
  height: 100%;
  overflow: hidden;
}
::-webkit-scrollbar {
  width: 0;
}

html {
  /* --body: rgb(209, 209, 214) */
  --body: #18191a;
  --fontColor: #fff;
  --colorAbouMe: rgb(197, 197, 197);
  --statusColor: rgb(140, 140, 140);
  --colorDeteilInfo: #fff;
  --descriptionColor: #fff;
  --headerColor: #2e353e;
  --EditBack: #343b5f;
  --bacMenu: rgb(138 24 24);
  --followBtn: #2f2a56;
  --followBtnHover: #3b3475;
  --BorderBottom: #3e4042;
  --bacInput: #25292f;
  --bacInputBorder: #4f5477;
  --bbLogin: rgb(224, 173, 173);
  --bacInputLogin: rgb(255, 255, 255);
  --swithThemeBac: #4e4e4e;
  --swithThemeBall: #fff;
  --bacInputForm: #25292f;
  --HoversaveBut: rgb(81, 81, 100);
  --error: red;
  --statusHover: #ffffff49;
}

.loginPage {
  height: 100vh;
  display: grid;
}

.appWrapper {
  display: grid;
  
}
@import url('https://fonts.googleapis.com/css2?family=Francois+One&display=swap');
.header {
    display: grid;
    width: 100vw;
    top: 0;
    position: fixed;
    z-index: 999999999;
    background-color: #18191a;
    border-bottom: 1px solid var(--BorderBottom);
    transition: all .6s;
}
.roll {
  top: -40px;
}
.titleSite {
    display: grid;
    grid-template-columns: 1fr 70px;
}
.listOfCategories div div{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
}
.listOfCategories {
  margin-right: 120px;
  margin-left: 10px;
}
@media (max-width: 480px) {
  .listOfCategories {
    margin-right: calc(70px + (120 - 70) * ((100vw - 320px) / (480 - 320)));
  }
}
.category {
    display: grid;
    grid-template-columns: 1fr !important;
}
.categoriesImg {
    height: 25px;
    width: 25px;
    align-self: center;
    justify-self: center;
}
.logo {
    align-self: center;
    margin-left: 10px;
    padding: 5px;
    font-size: 25px;
    font-weight: bold;
    color: white;
    font-family: 'Francois One', sans-serif;
}
.searchImg {
    height: 25px;
    align-self: center;
    justify-self: end;
    margin-right: 20px;
}
/* @media (max-width: 400px) {
  
} */
.tab {
  min-width: auto !important;
}
.headerBlur {
  z-index: 999999;
}
.appWrapperContent {
  /* display: grid; */
  justify-self: center;
  margin-top: 100px;
  width: 100vw;
  height: 100vh;
}
.up {
  margin-top: 50px ;
}

/* @media (max-width: 1250px) {
    .app-wrapper-content {
        justify-content: center;
    }
}

@media (max-width: 860px) {
    .app-wrapper-content {
        justify-content: start;
    }
}

@media (max-width: 990px) {
    .app-wrapper {
        grid-template-columns: 430px 1fr 1fr 1fr;
    }
}

@media (max-width: 879px) {
    .app-wrapper {
        grid-template-columns: 380px 1fr 1fr 1fr;
    }
}

@media (max-width: 800px) {
    .app-wrapper {
        grid-template-columns: 50px 1fr 1fr 1fr;
    }
    .app-wrapper-content {
        justify-self: center;
    }
} */

@media (max-width: 480px) {
  .appWrapper {
    display: grid;
    grid-template-areas: "h" "c";
    grid-gap: 0;
  }
}
