.dialogs {
    display: grid;
    grid-template-columns: 20% 50% 30%;
    grid-template-areas: "d m o";
    margin-top: 20px;
    margin-left: 20px;
    margin-right: 20px;
}

.dialogsItem {
    grid-area: d;
    border-right: 1px solid #00CB91;
}

.messages {
    grid-area: m;
    grid-area: message;
    border-right: 1px solid #00CB91;
    margin-left: 20px;
    /*display: grid;*/
    /*grid-template-rows: 80% 20%;*/
    /*grid-template-areas:*/
    /*"message"*/
    /*"input";*/
}

.other {
    grid-area: o;
}

.messageBlock {
    display: grid;
    grid-template-rows: minmax(500px, 1fr);
    grid-template-areas: "message" "input";
}


/* 
.bottom {
    margin-left: 50px;
    margin-right: 50px;
    grid-area: input;
    display: grid;
    grid-template-columns: 80% 20%;
    grid-template-areas: "i b";
} */

.text {
    grid-area: i;
    height: 30px;
}


/* 
.but {
    grid-area: b;
    height: 33px;
} */