.dialogs {
    display: grid;
    grid-template-columns: 25% 50% 25%;
    grid-template-areas: "d m o";
    margin-top: 20px;
    margin-left: 20px;
    margin-right: 20px;
}

.dialogsItem {
    grid-area: d;
    display: grid;
    /* justify-self: center; */
    grid-template-rows: 10% 80% 10%;
    /* border-right: 1px solid #00CB91; */
}

.messages {
    grid-area: message;
    margin-left: 20px;
    /* background-color: #ff794d; */
    /* border-right: 1px solid #00CB91; */
    /*display: grid;*/
    /*grid-template-rows: 80% 20%;*/
    /*grid-template-areas:*/
    /*"message"*/
    /*"input";*/
}

.other {
    grid-area: o;
}

.messageBlock {
    background-color: #ff794d;
    display: grid;
    grid-template-rows: minmax(500px, 1fr);
    grid-template-areas: "message" "input";
}


/* 
.bottom {
    margin-left: 50px;
    margin-right: 50px;
    grid-area: input;
    display: grid;
    grid-template-columns: 80% 20%;
    grid-template-areas: "i b";
} */

.text {
    grid-area: i;
    height: 30px;
}

.switch {
    margin-right: 30px;
    justify-self: center;
}

.arrowBot {
    height: 40px;
    width: 60px;
}

.arrowTop {
    height: 40px;
    width: 60px;
}


/* 
.but {
    grid-area: b;
    height: 33px;
} */