.dialogs {
    justify-self: start;
    display: grid;
    grid-template-columns: 250px 400px;
    grid-template-areas: "d m ";
    margin-top: 20px;
    margin-left: 20px;
    margin-right: 20px;
}

.dialogsItem {
    grid-area: d;
    display: grid;
}

.messages {
    grid-area: message;
    margin-left: 20px;
}

.other {
    grid-area: o;
}

.messageBlock {
    background-color: #3b3b3b;
    display: grid;
    grid-template-rows: 40px 500px 40px;
    grid-template-areas: "header" "body" "bot";
}

.text {
    grid-area: i;
    height: 30px;
}

.header {
    grid-area: header;
    background-color: rgb(100, 98, 98);
    display: grid;
    grid-template-rows: 1fr 1fr;
}

.userName {
    align-self: end;
    justify-self: center;
}

.wasOnline {
    font-size: 14px;
    align-self: start;
    justify-self: center;
}

.body {
    grid-area: body;
}

.bot {
    grid-area: bot;
    display: grid;
    grid-template-columns: 10% 80% 10%;
    background-color: rgb(187, 187, 187);
}

.adding {
    justify-self: center;
    align-self: center;
}

.enclosure {
    cursor: pointer;
    height: 25px;
}

.form {
    align-self: center;
}

.micro {
    align-self: center;
    justify-self: center;
}

.microImg {
    cursor: pointer;
    height: 24px;
}

.friends {
    margin-left: 30px;
    max-height: 580px;
    overflow-y: scroll;
}

@media (max-width: 1190px) {
    .dialogs {
        justify-self: center;
        grid-template-columns: 400px;
    }
    .dialogsItem {
        display: none;
    }
}

@media (max-width: 400px) {
    .dialogs {
        margin: 0;
        grid-template-columns: 360px;
    }
    .messageBlock {
        grid-template-rows: 50px calc(100vh - 160px) 50px;
    }
}