.settingsBlock {
  width: 500px;
  margin-top: 60px;
  display: grid;
  grid-template-rows: 40px 1fr;
  /* height: 100vh; */
  box-sizing: border-box;
}

.header {
  display: grid;
  grid-template-columns: 30px 1fr 30px;
  /* border-bottom: 1px solid var(--BorderBottom); */
}
.preloader {
  align-self: end;
  margin-bottom: 5px;
}
/*! GeneralSettings */

.generalBlock {
  display: grid;
  grid-template-rows: 30px 1fr;
  padding: 5px 10px 5px 10px;
}
.generalSettings {
  display: grid;
  grid-template-rows: 40px;
  padding-left: 10px;
}
.settingsTitle {
  font-size: 20px;
  font-weight: bold;
  color: var(--fontColor);
}
.title {
  align-self: center;
  margin-left: 10px;
  font-size: 25px;
  color: var(--fontColor);
}

.themes {
  display: grid;
  padding: 10px;
  grid-template-columns: auto 1fr;
}
.themesTitle {
  color: var(--fontColor);
  font-size: 17px;
}
.changeTitle {
  color: var(--fontColor);
  font-size: 17px;
}
.changeAva {
  display: grid;
  padding-left: 5px;
  margin-bottom: 10px;
  grid-template-columns: auto 1fr;
}
.changeLabel {
  width: 45px;
  height: 18px;
  border-radius: 50%;
  cursor: pointer;
  position: relative;
  justify-self: end;
  display: grid;
}
.changeLabel span {
  position: absolute;
  height: 4px;
  width: 4px;
  right: 18px;
  border: 2px solid var(--fontColor);
  border-radius: 50%;
  align-self: center;
  cursor: pointer;
}
.changeLabel:after {
  position: absolute;
  content: "";
  height: 4px;
  width: 4px;
  /* top: -40%; */
  right: 6px;
  border: 2px solid var(--fontColor);
  border-radius: 50%;
  align-self: center;
  cursor: pointer;
}
.changeLabel:before {
  position: absolute;
  content: "";
  /* top: -40%; */
  right: 30px;
  height: 4px;
  width: 4px;
  border: 2px solid var(--fontColor);
  align-self: center;
  border-radius: 50%;
  cursor: pointer;
}
input[type="file"] {
  display: none;
}

.back {
  display: grid;
}
.settingsImg {
  justify-self: center;
  height: 20px;
  align-self: center;
}

.checkbox {
  display: none;
  margin-top: 50px;
  opacity: 0;
  position: absolute;
  box-sizing: border-box;
}

.img {
  height: 16px;
}

.label {
  justify-self: end;
  box-sizing: border-box;
  background-color: var(--bacInputForm);
  border-radius: 50px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 5px;
  position: relative;
  height: 26px;
  width: 50px;
  transform: scale(1.5);
}

.label .ball {
  background-color: var(--swithThemeBall);
  border-radius: 50%;
  position: absolute;
  top: 2px;
  left: 2px;
  height: 22px;
  width: 22px;
  transform: translateX(0px);
  transition: transform 0.3s linear;
}

.ball.active {
  transform: translateX(24px);
}
.btnLogOut {
  cursor: pointer;
  background-color: var(--followBtn);
  border: 1px solid var(--followBtn);
  color: var(--fontColor);
  padding: 5px 8px;
  font-weight: bold;
  border-radius: 5px;
  margin-bottom: 20px;
}
/*! ProfileSettings */
.profileBlock {
  display: grid;
  grid-template-rows:1fr;
  padding: 5px 10px 5px 10px;
}
.profileSettings {
  padding: 10px;
}

@media (max-width: 1500px) {
  .settingsBlock {
    width: calc(360px + (500 - 360) * ((100vw - 480px) / (1500 - 480)));
  }
}
@media (max-width: 480px) {
  .settingsBlock {
    width: 100vw;
    padding: 0 10px;
  }
}
.slide1 {
  background-color: red;
}
.slide2 {
  background-color: gray;
}
.tabs div div{
  display: flex;
  justify-content: space-evenly;
  /* background: #fff; */
}
  @media (min-width: 600px) {
    .tab {
      min-width: 110px !important;
    }
}
.tab span{
  color: var(--fontColor);
}