@import url("https://fonts.googleapis.com/css2?family=Pacifico&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

.loginForm {
  align-self: center;
  justify-self: center;
  display: grid;
  width: 100%;
  height: 100%;
  grid-template-rows: 150px auto auto;
  grid-template-areas:
    "title"
    "block"
    "bottom";
  grid-row-gap: 40px;
}
.header {
  box-sizing: border-box;
  grid-area: title;
  display: grid;
  width: 100%;
  height: 100%;
  border-bottom: 1px solid var(--bbLogin);
}

.title {
  justify-self: center;
  align-self: center;
  font-size: 30px;
  /* font-weight: bold; */
  color: var(--fontColor);
  font-family: "Pacifico", cursive;
}
.headerText {
  width: 80%;
  justify-self: center;
  text-align: center;
  font-size: 17px;
  color: var(--fontColor);
}
.inputsBlock {
  grid-area: block;
  width: 100%;
  /* height: 200px; */
  display: grid;
  /* grid-template-rows: 40px 40px; */
  grid-row-gap: 10px;
  /* grid-template-areas: "top" "centr" "bot"; */
}
.inputField {
  outline: none;
  box-sizing: border-box;
  background-color: var(--bacInputLogin);
  border: 1px solid var(--bacInputLogin);
  border-radius: 5px;
  padding: 5px;
  justify-self: center;
  width: 80%;
}
.textareaField {
  outline: none;
  box-sizing: border-box;
  background-color: var(--bacInputLogin);
  border: 1px solid var(--bacInputLogin);
  border-radius: 5px;
  padding: 5px;
  resize: none;
  height: 70px;
  justify-self: center;
  width: 80%;
}

.emailField {
  display: grid;
  align-self: center;
}
.passwordField {
  display: grid;
  align-self: center;
}

.bottomBlock {
  display: grid;
  grid-template-rows: 30px 30px 30px;
  grid-template-areas: "loginBut" "error" "register";
}

.loginBut {
  grid-area: loginBut;
  justify-self: center;
  width: 80%;
  cursor: pointer;
  background-color: rgb(241, 145, 145);
  border: 1px solid rgb(241, 145, 145);
  /* width: 80px;
  height: 30px; */
}
.loginBut:hover {
  background-color: rgb(214, 97, 97);
  border: 1px solid rgb(214, 97, 97);
}
.or {
  grid-area: or;
  justify-self: center;
  position: relative;
  color: var(--fontColor);
  display: grid;
  width: 80%;
}
.or span {
  justify-self: center;
  align-self: center;
  font-size: 18px;
}
.or::before {
  content: "";
  display: block;
  width: 40%;
  height: 1px;
  background-color: var(--fontColor);
  position: absolute;
  left: 0;
  top: 50%;
}
.or::after {
  content: "";
  display: block;
  width: 40%;
  height: 1px;
  background-color: var(--fontColor);
  position: absolute;
  right: 0;
  top: 50%;
}
.forgotYourPassword {
  grid-area: forgotYourPassword;
  display: flex;
  justify-content: center;
  align-self: center;
  /* border-bottom: 1px solid white; */
}
.forgotYourPassword a {
  text-decoration: none;
  font-size: 14px;
  font-family: "Roboto", sans-serif;

  /* font-weight: bold; */
  color: var(--fontColor);
}
.register {
  grid-area: register;
  /* padding-top: 30px; */
  align-self: center;
  justify-self: center;
  width: 80%;
  text-align: center;
  /* display: grid;
  grid-template-columns: 60% 40%; */
}
.regText {
  color: var(--fontColor);
  font-weight: bold;
}
.register a {
  margin-left: 5px;
  color: rgb(84 94 230);
  font-weight: bold;
}
