/* ! Chenge password */
.changeTitle {
  align-self: center;
  color: var(--fontColor);
  font-size: 18px;
}
.changePasswordBlock {
  /* width: 70%; */
  box-sizing: border-box;

  display: grid;
  margin-bottom: 30px;
  grid-template-rows: 30px auto 40px;
  padding: 5px 10px 5px 10px;
}
.chengePassword {
  padding: 5px 0 0 30px;
  display: grid;
  grid-template-rows: 40px 40px 40px;
  /* padding-left: 30px; */
}
.changePasswordTitle {
  color: var(--fontColor);
  font-size: 16px;
}
.passwordField {
  /* overflow: hidden; */
  align-self: center;
  box-sizing: border-box;
  display: grid;
  grid-template-columns: 50px 250px;
  grid-column-gap: 10px;
}
.chenge {
  display: grid;
  grid-template-columns: auto 70px;
}
.chengeBtn {
  justify-self: start;
  align-self: center;
  cursor: pointer;
  background-color: var(--bacInputForm);
  border: 1px solid var(--bacInputForm);
  color: var(--fontColor);
  height: 30px;
  font-size: 16px;
  width: 70px;
  border-radius: 5px;
}
.chengeBtn:hover {
  background-color: var(--HoversaveBut);
  border-color: var(--HoversaveBut);
}
.error {
  font-size: 17px;
  margin-left: 30px;
  align-self: center;
  color: red;
}
@media (max-width: 480px) {
  .passwordField {
    grid-template-columns: 1fr 2fr;
  }
}
